/*Font Roboto*/
/* @import url('../fonts/Roboto/roboto.css'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*Font Icon*/
@import url('../fonts/icomoon/icomoon.css');

/*External Plugins*/
@import url('../plugins/owl/css/owl.carousel.min.css');
@import url('../plugins/slick/css/slick.css');

/*Custom Style Sheets*/
@import url('core.css');
@import url('style2.css');
@import url('style3.css');
@import url('style4.css');
@import url('style1.css');
@import url('explore.css');

.theme-light {
    --color-bg: #ffffff;
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-grey-dark: #737373;
    --color-grey-ligt: #9A9A9A;
    --bg-grey: #E5E5E5;
    --color-blue: #1492E6;
    --color-orange: #FF8A00;    
    --color-ripple: #dedede;
    --color-border: #DFDFDF;
}
.theme-dark {
    --color-bg: #303030;
    --color-grey-dark: #c7c7c7;
    --color-grey-ligt: #ffffff;
    --color-border: #757474;
    --color-dark: #ffffff;
    --color-dark2: #ffffff;
    --color-ligt: #ffffff;
    --color-blue: #1492E6;
    --color-orange: #FF8A00;
}
html, body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);
}
p, h1, h2, h3, h4, h5, h6, ul li{
    color: var(--color-dark);
}


h1{font-size: 18px;}
h2{font-size: 16px;}
h3{font-size: 16px;}
h4{font-size: 13px;}
h6{font-size: 11px;}
p, ul li{
    font-size: 12px;
}
p{
    font-size: 14px;
    line-height: 18px!important;
}
img{
    max-width:100%;
}
a{
    text-decoration: none;
}
a:focus, a:hover{
    text-decoration: none;
    outline: none;
}
ul{
    padding:0;
    margin:0;
}
li{
    list-style: none;
}
.app-main{
    margin-top: 60px;
    margin-bottom: 40px;
    padding-top: 10px;
}
.app-main-es{
    margin-top: 35px;
}
.icon{
    color: var(--color-grey-dark);
}
.text-white{
    color: var(--color-light);
}
.text-light{
    color: var(--color-grey-ligt);
}
.text-blue{
    color: var(--color-blue);
}
.text-orange{
    color: var(--color-orange);
}
/*Padding */
.pa-0{padding: 0px;}
.pa-1{padding: 1px;}
.pa-2{padding: 2px;}
.pa-3{padding: 3px;}
.pa-4{padding: 4px;}
.pa-5{padding: 5px;}
.pa-6{padding: 6px;}
.pa-7{padding: 7px;}
.pa-8{padding: 8px;}
.pa-9{padding: 9px;}
.pa-10{padding: 10px;}
.pa-11{padding: 11px;}
.pa-12{padding: 12px;}
.pa-13{padding: 13px;}
.pa-14{padding: 14px;}
.pa-15{padding: 15px;}
.pa-16{padding: 16px;}
.pa-17{padding: 17px;}
.pa-18{padding: 18px;}
.pa-19{padding: 19px;}
.pa-20{padding: 20px;}

/*Padding Top*/
.pt-0{padding-top: 0;}
.pt-1{padding-top: 1px;}
.pt-2{padding-top: 2px;}
.pt-3{padding-top: 3px;}
.pt-4{padding-top: 4px;}
.pt-5{padding-top: 5px;}
.pt-6{padding-top: 6px;}
.pt-7{padding-top: 7px;}
.pt-8{padding-top: 8px;}
.pt-9{padding-top: 9px;}
.pt-10{padding-top: 10px;}
.pt-11{padding-top: 11px;}
.pt-12{padding-top: 12px;}
.pt-13{padding-top: 13px;}
.pt-14{padding-top: 14px;}
.pt-15{padding-top: 15px;}
.pt-16{padding-top: 16px;}
.pt-17{padding-top: 17px;}
.pt-18{padding-top: 18px;}
.pt-19{padding-top: 19px;}
.pt-20{padding-top: 20px;}

/*Padding Bottom*/
.pb-0{padding-bottom: 0;}
.pb-1{padding-bottom: 1px;}
.pb-2{padding-bottom: 2px;}
.pb-3{padding-bottom: 3px;}
.pb-4{padding-bottom: 4px;}
.pb-5{padding-bottom: 5px;}
.pb-6{padding-bottom: 6px;}
.pb-7{padding-bottom: 7px;}
.pb-8{padding-bottom: 8px;}
.pb-9{padding-bottom: 9px;}
.pb-10{padding-bottom: 10px;}
.pb-11{padding-bottom: 11px;}
.pb-12{padding-bottom: 12px;}
.pb-13{padding-bottom: 13px;}
.pb-14{padding-bottom: 14px;}
.pb-15{padding-bottom: 15px;}
.pb-16{padding-bottom: 16px;}
.pb-17{padding-bottom: 17px;}
.pb-18{padding-bottom: 18px;}
.pb-19{padding-bottom: 19px;}
.pb-20{padding-bottom: 20px;}

/*Padding Left*/
.pl-0{padding-left: 0;}
.pl-1{padding-left: 1px;}
.pl-2{padding-left: 2px;}
.pl-3{padding-left: 3px;}
.pl-4{padding-left: 4px;}
.pl-5{padding-left: 5px;}
.pl-6{padding-left: 6px;}
.pl-7{padding-left: 7px;}
.pl-8{padding-left: 8px;}
.pl-9{padding-left: 9px;}
.pl-10{padding-left: 10px;}
.pl-11{padding-left: 11px;}
.pl-12{padding-left: 12px;}
.pl-13{padding-left: 13px;}
.pl-14{padding-left: 14px;}
.pl-15{padding-left: 15px;}
.pl-16{padding-left: 16px;}
.pl-17{padding-left: 17px;}
.pl-18{padding-left: 18px;}
.pl-19{padding-left: 19px;}
.pl-20{padding-left: 20px;}

/*Padding Right*/
.pr-0{padding-right: 0;}
.pr-1{padding-right: 1px;}
.pr-2{padding-right: 2px;}
.pr-3{padding-right: 3px;}
.pr-4{padding-right: 4px;}
.pr-5{padding-right: 5px;}
.pr-6{padding-right: 6px;}
.pr-7{padding-right: 7px;}
.pr-8{padding-right: 8px;}
.pr-9{padding-right: 9px;}
.pr-10{padding-right: 10px;}
.pr-11{padding-right: 11px;}
.pr-12{padding-right: 12px;}
.pr-13{padding-right: 13px;}
.pr-14{padding-right: 14px;}
.pr-15{padding-right: 15px;}
.pr-16{padding-right: 16px;}
.pr-17{padding-right: 17px;}
.pr-18{padding-right: 18px;}
.pr-19{padding-right: 19px;}
.pr-20{padding-right: 20px;}

/*Margin */
.ma-0{margin: 0px;}
.ma-1{margin: 1px;}
.ma-2{margin: 2px;}
.ma-3{margin: 3px;}
.ma-4{margin: 4px;}
.ma-5{margin: 5px;}
.ma-6{margin: 6px;}
.ma-7{margin: 7px;}
.ma-8{margin: 8px;}
.ma-9{margin: 9px;}
.ma-10{margin: 10px;}
.ma-11{margin: 11px;}
.ma-12{margin: 12px;}
.ma-13{margin: 13px;}
.ma-14{margin: 14px;}
.ma-15{margin: 15px;}
.ma-16{margin: 16px;}
.ma-17{margin: 17px;}
.ma-18{margin: 18px;}
.ma-19{margin: 19px;}
.ma-20{margin: 20px;}

/*Margin Top*/
.mt-0{margin-top: 0;}
.mt-1{margin-top: 1px;}
.mt-2{margin-top: 2px;}
.mt-3{margin-top: 3px;}
.mt-4{margin-top: 4px;}
.mt-5{margin-top: 5px;}
.mt-6{margin-top: 6px;}
.mt-7{margin-top: 7px;}
.mt-8{margin-top: 8px;}
.mt-9{margin-top: 9px;}
.mt-10{margin-top: 10px;}
.mt-11{margin-top: 11px;}
.mt-12{margin-top: 12px;}
.mt-13{margin-top: 13px;}
.mt-14{margin-top: 14px;}
.mt-15{margin-top: 15px;}
.mt-16{margin-top: 16px;}
.mt-17{margin-top: 17px;}
.mt-18{margin-top: 18px;}
.mt-19{margin-top: 19px;}
.mt-20{margin-top: 20px;}

/*Margin Bottom*/
.mb-0{margin-bottom: 0;}
.mb-1{margin-bottom: 1px;}
.mb-2{margin-bottom: 2px;}
.mb-3{margin-bottom: 3px;}
.mb-4{margin-bottom: 4px;}
.mb-5{margin-bottom: 5px;}
.mb-6{margin-bottom: 6px;}
.mb-7{margin-bottom: 7px;}
.mb-8{margin-bottom: 8px;}
.mb-9{margin-bottom: 9px;}
.mb-10{margin-bottom: 10px;}
.mb-11{margin-bottom: 11px;}
.mb-12{margin-bottom: 12px;}
.mb-13{margin-bottom: 13px;}
.mb-14{margin-bottom: 14px;}
.mb-15{margin-bottom: 15px;}
.mb-16{margin-bottom: 16px;}
.mb-17{margin-bottom: 17px;}
.mb-18{margin-bottom: 18px;}
.mb-19{margin-bottom: 19px;}
.mb-20{margin-bottom: 20px;}

/*Margin Left*/
.ml-0{margin-left: 0;}
.ml-1{margin-left: 1px;}
.ml-2{margin-left: 2px;}
.ml-3{margin-left: 3px;}
.ml-4{margin-left: 4px;}
.ml-5{margin-left: 5px;}
.ml-6{margin-left: 6px;}
.ml-7{margin-left: 7px;}
.ml-8{margin-left: 8px;}
.ml-9{margin-left: 9px;}
.ml-10{margin-left: 10px;}
.ml-11{margin-left: 11px;}
.ml-12{margin-left: 12px;}
.ml-13{margin-left: 13px;}
.ml-14{margin-left: 14px;}
.ml-15{margin-left: 15px;}
.ml-16{margin-left: 16px;}
.ml-17{margin-left: 17px;}
.ml-18{margin-left: 18px;}
.ml-19{margin-left: 19px;}
.ml-20{margin-left: 20px;}

/*Margin Right*/
.mr-0{margin-right: 0;}
.mr-1{margin-right: 1px;}
.mr-2{margin-right: 2px;}
.mr-3{margin-right: 3px;}
.mr-4{margin-right: 4px;}
.mr-5{margin-right: 5px;}
.mr-6{margin-right: 6px;}
.mr-7{margin-right: 7px;}
.mr-8{margin-right: 8px;}
.mr-9{margin-right: 9px;}
.mr-10{margin-right: 10px;}
.mr-11{margin-right: 11px;}
.mr-12{margin-right: 12px;}
.mr-13{margin-right: 13px;}
.mr-14{margin-right: 14px;}
.mr-15{margin-right: 15px;}
.mr-16{margin-right: 16px;}
.mr-17{margin-right: 17px;}
.mr-18{margin-right: 18px;}
.mr-19{margin-right: 19px;}
.mr-20{margin-right: 20px;}

@media(min-width:576px){
    /*Padding */
    .pa-sm-0{padding: 0px;}
    .pa-sm-1{padding: 1px;}
    .pa-sm-2{padding: 2px;}
    .pa-sm-3{padding: 3px;}
    .pa-sm-4{padding: 4px;}
    .pa-sm-5{padding: 5px;}
    .pa-sm-6{padding: 6px;}
    .pa-sm-7{padding: 7px;}
    .pa-sm-8{padding: 8px;}
    .pa-sm-9{padding: 9px;}
    .pa-sm-10{padding: 10px;}
    .pa-sm-11{padding: 11px;}
    .pa-sm-12{padding: 12px;}
    .pa-sm-13{padding: 13px;}
    .pa-sm-14{padding: 14px;}
    .pa-sm-15{padding: 15px;}
    .pa-sm-16{padding: 16px;}
    .pa-sm-17{padding: 17px;}
    .pa-sm-18{padding: 18px;}
    .pa-sm-19{padding: 19px;}
    .pa-sm-20{padding: 20px;}

    /*Padding Top*/
    .pt-sm-0{padding-top: 0;}
    .pt-sm-1{padding-top: 1px;}
    .pt-sm-2{padding-top: 2px;}
    .pt-sm-3{padding-top: 3px;}
    .pt-sm-4{padding-top: 4px;}
    .pt-sm-5{padding-top: 5px;}
    .pt-sm-6{padding-top: 6px;}
    .pt-sm-7{padding-top: 7px;}
    .pt-sm-8{padding-top: 8px;}
    .pt-sm-9{padding-top: 9px;}
    .pt-sm-10{padding-top: 10px;}
    .pt-sm-11{padding-top: 11px;}
    .pt-sm-12{padding-top: 12px;}
    .pt-sm-13{padding-top: 13px;}
    .pt-sm-14{padding-top: 14px;}
    .pt-sm-15{padding-top: 15px;}
    .pt-sm-16{padding-top: 16px;}
    .pt-sm-17{padding-top: 17px;}
    .pt-sm-18{padding-top: 18px;}
    .pt-sm-19{padding-top: 19px;}
    .pt-sm-20{padding-top: 20px;}

    /*Padding Bottom*/
    .pb-sm-0{padding-bottom: 0;}
    .pb-sm-1{padding-bottom: 1px;}
    .pb-sm-2{padding-bottom: 2px;}
    .pb-sm-3{padding-bottom: 3px;}
    .pb-sm-4{padding-bottom: 4px;}
    .pb-sm-5{padding-bottom: 5px;}
    .pb-sm-6{padding-bottom: 6px;}
    .pb-sm-7{padding-bottom: 7px;}
    .pb-sm-8{padding-bottom: 8px;}
    .pb-sm-9{padding-bottom: 9px;}
    .pb-sm-10{padding-bottom: 10px;}
    .pb-sm-11{padding-bottom: 11px;}
    .pb-sm-12{padding-bottom: 12px;}
    .pb-sm-13{padding-bottom: 13px;}
    .pb-sm-14{padding-bottom: 14px;}
    .pb-sm-15{padding-bottom: 15px;}
    .pb-sm-16{padding-bottom: 16px;}
    .pb-sm-17{padding-bottom: 17px;}
    .pb-sm-18{padding-bottom: 18px;}
    .pb-sm-19{padding-bottom: 19px;}
    .pb-sm-20{padding-bottom: 20px;}

    /*Padding Left*/
    .pl-sm-0{padding-left: 0;}
    .pl-sm-1{padding-left: 1px;}
    .pl-sm-2{padding-left: 2px;}
    .pl-sm-3{padding-left: 3px;}
    .pl-sm-4{padding-left: 4px;}
    .pl-sm-5{padding-left: 5px;}
    .pl-sm-6{padding-left: 6px;}
    .pl-sm-7{padding-left: 7px;}
    .pl-sm-8{padding-left: 8px;}
    .pl-sm-9{padding-left: 9px;}
    .pl-sm-10{padding-left: 10px;}
    .pl-sm-11{padding-left: 11px;}
    .pl-sm-12{padding-left: 12px;}
    .pl-sm-13{padding-left: 13px;}
    .pl-sm-14{padding-left: 14px;}
    .pl-sm-15{padding-left: 15px;}
    .pl-sm-16{padding-left: 16px;}
    .pl-sm-17{padding-left: 17px;}
    .pl-sm-18{padding-left: 18px;}
    .pl-sm-19{padding-left: 19px;}
    .pl-sm-20{padding-left: 20px;}

    /*Padding Right*/
    .pr-sm-0{padding-right: 0;}
    .pr-sm-1{padding-right: 1px;}
    .pr-sm-2{padding-right: 2px;}
    .pr-sm-3{padding-right: 3px;}
    .pr-sm-4{padding-right: 4px;}
    .pr-sm-5{padding-right: 5px;}
    .pr-sm-6{padding-right: 6px;}
    .pr-sm-7{padding-right: 7px;}
    .pr-sm-8{padding-right: 8px;}
    .pr-sm-9{padding-right: 9px;}
    .pr-sm-10{padding-right: 10px;}
    .pr-sm-11{padding-right: 11px;}
    .pr-sm-12{padding-right: 12px;}
    .pr-sm-13{padding-right: 13px;}
    .pr-sm-14{padding-right: 14px;}
    .pr-sm-15{padding-right: 15px;}
    .pr-sm-16{padding-right: 16px;}
    .pr-sm-17{padding-right: 17px;}
    .pr-sm-18{padding-right: 18px;}
    .pr-sm-19{padding-right: 19px;}
    .pr-sm-20{padding-right: 20px;}

    /*Margin */
    .ma-sm-0{margin: 0px;}
    .ma-sm-1{margin: 1px;}
    .ma-sm-2{margin: 2px;}
    .ma-sm-3{margin: 3px;}
    .ma-sm-4{margin: 4px;}
    .ma-sm-5{margin: 5px;}
    .ma-sm-6{margin: 6px;}
    .ma-sm-7{margin: 7px;}
    .ma-sm-8{margin: 8px;}
    .ma-sm-9{margin: 9px;}
    .ma-sm-10{margin: 10px;}
    .ma-sm-11{margin: 11px;}
    .ma-sm-12{margin: 12px;}
    .ma-sm-13{margin: 13px;}
    .ma-sm-14{margin: 14px;}
    .ma-sm-15{margin: 15px;}
    .ma-sm-16{margin: 16px;}
    .ma-sm-17{margin: 17px;}
    .ma-sm-18{margin: 18px;}
    .ma-sm-19{margin: 19px;}
    .ma-sm-20{margin: 20px;}

    /*Margin Top*/
    .mt-sm-0{margin-top: 0;}
    .mt-sm-1{margin-top: 1px;}
    .mt-sm-2{margin-top: 2px;}
    .mt-sm-3{margin-top: 3px;}
    .mt-sm-4{margin-top: 4px;}
    .mt-sm-5{margin-top: 5px;}
    .mt-sm-6{margin-top: 6px;}
    .mt-sm-7{margin-top: 7px;}
    .mt-sm-8{margin-top: 8px;}
    .mt-sm-9{margin-top: 9px;}
    .mt-sm-10{margin-top: 10px;}
    .mt-sm-11{margin-top: 11px;}
    .mt-sm-12{margin-top: 12px;}
    .mt-sm-13{margin-top: 13px;}
    .mt-sm-14{margin-top: 14px;}
    .mt-sm-15{margin-top: 15px;}
    .mt-sm-16{margin-top: 16px;}
    .mt-sm-17{margin-top: 17px;}
    .mt-sm-18{margin-top: 18px;}
    .mt-sm-19{margin-top: 19px;}
    .mt-sm-20{margin-top: 20px;}

    /*Margin Bottom*/
    .mb-sm-0{margin-bottom: 0;}
    .mb-sm-1{margin-bottom: 1px;}
    .mb-sm-2{margin-bottom: 2px;}
    .mb-sm-3{margin-bottom: 3px;}
    .mb-sm-4{margin-bottom: 4px;}
    .mb-sm-5{margin-bottom: 5px;}
    .mb-sm-6{margin-bottom: 6px;}
    .mb-sm-7{margin-bottom: 7px;}
    .mb-sm-8{margin-bottom: 8px;}
    .mb-sm-9{margin-bottom: 9px;}
    .mb-sm-10{margin-bottom: 10px;}
    .mb-sm-11{margin-bottom: 11px;}
    .mb-sm-12{margin-bottom: 12px;}
    .mb-sm-13{margin-bottom: 13px;}
    .mb-sm-14{margin-bottom: 14px;}
    .mb-sm-15{margin-bottom: 15px;}
    .mb-sm-16{margin-bottom: 16px;}
    .mb-sm-17{margin-bottom: 17px;}
    .mb-sm-18{margin-bottom: 18px;}
    .mb-sm-19{margin-bottom: 19px;}
    .mb-sm-20{margin-bottom: 20px;}

    /*Margin Left*/
    .ml-sm-0{margin-left: 0;}
    .ml-sm-1{margin-left: 1px;}
    .ml-sm-2{margin-left: 2px;}
    .ml-sm-3{margin-left: 3px;}
    .ml-sm-4{margin-left: 4px;}
    .ml-sm-5{margin-left: 5px;}
    .ml-sm-6{margin-left: 6px;}
    .ml-sm-7{margin-left: 7px;}
    .ml-sm-8{margin-left: 8px;}
    .ml-sm-9{margin-left: 9px;}
    .ml-sm-10{margin-left: 10px;}
    .ml-sm-11{margin-left: 11px;}
    .ml-sm-12{margin-left: 12px;}
    .ml-sm-13{margin-left: 13px;}
    .ml-sm-14{margin-left: 14px;}
    .ml-sm-15{margin-left: 15px;}
    .ml-sm-16{margin-left: 16px;}
    .ml-sm-17{margin-left: 17px;}
    .ml-sm-18{margin-left: 18px;}
    .ml-sm-19{margin-left: 19px;}
    .ml-sm-20{margin-left: 20px;}

    /*Margin Right*/
    .mr-sm-0{margin-right: 0;}
    .mr-sm-1{margin-right: 1px;}
    .mr-sm-2{margin-right: 2px;}
    .mr-sm-3{margin-right: 3px;}
    .mr-sm-4{margin-right: 4px;}
    .mr-sm-5{margin-right: 5px;}
    .mr-sm-6{margin-right: 6px;}
    .mr-sm-7{margin-right: 7px;}
    .mr-sm-8{margin-right: 8px;}
    .mr-sm-9{margin-right: 9px;}
    .mr-sm-10{margin-right: 10px;}
    .mr-sm-11{margin-right: 11px;}
    .mr-sm-12{margin-right: 12px;}
    .mr-sm-13{margin-right: 13px;}
    .mr-sm-14{margin-right: 14px;}
    .mr-sm-15{margin-right: 15px;}
    .mr-sm-16{margin-right: 16px;}
    .mr-sm-17{margin-right: 17px;}
    .mr-sm-18{margin-right: 18px;}
    .mr-sm-19{margin-right: 19px;}
    .mr-sm-20{margin-right: 20px;}
}
