.write-comments.expl_chat {
  position: relative;
  bottom: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: auto;
  background: var(--color-bg);
  z-index: 10;
}

.write-comments.expl_chat .comment-wrapper {
  padding: 8px 0px 0px;
}

/* Guru start bussiness units */
.bussiness-units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bussiness-units ul {
  margin-top: 40px;
}

.bussiness-units li {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bussiness-units li span {
  margin-right: 12px;
}

.bussiness-units li span img {
  width: 20px;
}

.bussiness-units li a {
  color: #000;
}

.logo-images .row {
  padding-top: 40px;
}

.logo-images .col-section {
  text-align: center;
  margin-bottom: 20px;
}

.logo-images .col-section img {
  width: 100px;
}

.vehicle_fin {
  padding: 15px 10px 9px;
  border-bottom: 1px solid #ccc;
}

.vehicle_fin ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vehicle_fin ul li a {
  font-size: 14px;
}

.vehicle_finance .overview-images {
  margin-top: 15px;
}

.vehicle_finance .overview-images img {
  width: 100%;
}

.vehicle_finance .overview {
  padding: 10px;
  margin-bottom: 5px;
}

.vehicle_finance .grey-bg-text {
  font-style: italic;
  background-color: #eeeeee;
  font-weight: 500;
  font-size: 13px;
}

.vehicle_finance .dir_portal {
  margin-bottom: 20px;
}

.vehicle_finance .dir_portal .profile-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vehicle_finance .dir_portal .profile-img img {
  width: 100px;
}

.vehicle_finance .dir_portal .profile-img h5 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.vehicle_finance .dir_portal .profile-img p {
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 0;
}

.modal_pop_up .profile-img .close {
  background: transparent;
  border: 0;
  font-size: 25px;
}

.modal_pop_up .profile-img .popup_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal_pop_up .profile-img .popup_profile img {
  width: 100px;
}

.modal_pop_up .profile-img .popup_profile h5 {
  margin-bottom: 0;
}

.widget-suggessions.vehicle-new-card {
  padding-bottom: 0 !important;
}

.vehicle-new-card .text-light {
  font-size: 10px;
  padding: 0;
}

/* Guru End bussiness units */
.comment-wrapper {
  padding: 8px 0px 0px;
}

.search_popup .search_box {
  position: relative;
  top: 50px;
  z-index: 11;
  width: 100%;
  padding: 0px 20px;
}

.search_popup .search_box input {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 0px 70px 0px 30px;
  height: 32px;
  font-size: 14px;
}

.search_popup .search_box input::-webkit-input-placeholder {
  font-size: 14px;
}

.search_popup .search_box input:-ms-input-placeholder {
  font-size: 14px;
}

.search_popup .search_box input::-ms-input-placeholder {
  font-size: 14px;
}

.search_popup .search_box input::placeholder {
  font-size: 14px;
}

.search_popup .search_box button {
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  padding: 0px;
}

.search_popup .search_box .search_btn {
  position: absolute;
  top: 9px;
  left: 8px;
}

.search_popup .search_box .filter_btn {
  position: absolute;
  top: 4px;
  right: 45px;
}

.search_popup .search_box .filter_btn::after {
  content: "";
  height: 20px;
  width: 1px;
  background-color: #ddd;
  position: absolute;
  top: 2px;
  right: -7px;
}

.search_popup .search_box .mic_btn {
  position: absolute;
  top: 4px;
  right: 8px;
}

.search_popup .search_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.search_popup .search_relative {
  position: relative;
}

.hide-e {
  display: none;
}

.owl-toptrends a {
  position: relative;
}

.widget-posts.all_news .post-head .post-user {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.widget-posts.all_news .ep-post h2 {
  margin-top: 0px;
}

.widget-posts.all_news .post-reactions ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.widget-posts.all_news .post-reactions ul li {
  margin-left: 0px !important;
}
/*# sourceMappingURL=explore.css.map */