.write-comments.expl_chat {
    position: relative;
    bottom: auto;
    box-shadow: none;
    width: auto;
    background: var(--color-bg);
    z-index: 10;
    .comment-wrapper {
        padding: 8px 0px 0px;
    }
}


/* Guru start bussiness units */

.bussiness-units {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        margin-top: 40px;
    }
    li {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        span {
            margin-right: 12px;
            img {
                width: 20px;
            }
        }
        a {
            color: #000;
        }
    }
}

.logo-images {
    .row {
        padding-top: 40px;
    }
    .col-section {
        text-align: center;
        margin-bottom: 20px;
        img {
            width: 100px;
        }
    }
}

.vehicle_fin {
    padding: 15px 10px 9px;
    border-bottom: 1px solid #ccc;
    ul {
        display: flex;
        justify-content: space-between;
        li {
            a {
                font-size: 14px;
            }
        }
    }
}

.vehicle_finance {
    .overview-images {
        margin-top: 15px;
        img {
            width: 100%;
        }
    }
    .overview {
        padding: 10px;
        margin-bottom: 5px;
    }
    .grey-bg-text {
        font-style: italic;
        background-color: #eeeeee;
        font-weight: 500;
        font-size: 13px;
    }
    .dir_portal {
        margin-bottom: 20px;
        .profile-img {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img {
                width: 100px;
            }
            h5 {
                font-size: 13px;
                font-weight: 600;
                margin-bottom: 0;
                text-align: center;
            }
            p {
                color: #757575;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
    }
}

.modal_pop_up {
    .profile-img {
        .close {
            background: transparent;
            border: 0;
            font-size: 25px;
        }
        .popup_profile {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
                width: 100px;
            }
            h5 {
                margin-bottom: 0;
            }
        }
    }
}

.widget-suggessions.vehicle-new-card {
    padding-bottom: 0 !important;
}

.vehicle-new-card {
    .text-light {
        font-size: 10px;
        padding: 0;
    }
}


/* Guru End bussiness units */

.comment-wrapper {
    padding: 8px 0px 0px;
}

.search_popup {
    .search_box {
        position: relative;
        top: 50px;
        z-index: 11;
        width: 100%;
        padding: 0px 20px;
        input {
            width: 100%;
            border-radius: 30px;
            border: 1px solid #fff;
            padding: 0px 70px 0px 30px;
            height: 32px;
            font-size: 14px;
            &::placeholder {
                font-size: 14px;
            }
        }
        button {
            cursor: pointer;
            border: 0px;
            background-color: transparent;
            padding: 0px;
        }
        .search_btn {
            position: absolute;
            top: 9px;
            left: 8px;
        }
        .filter_btn {
            position: absolute;
            top: 4px;
            right: 45px;
            &::after {
                content: "";
                height: 20px;
                width: 1px;
                background-color: #ddd;
                position: absolute;
                top: 2px;
                right: -7px;
            }
        }
        .mic_btn {
            position: absolute;
            top: 4px;
            right: 8px;
        }
    }
    .search_overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 10;
    }
    .search_relative {
        position: relative;
    }
}

.hide-e {
    display: none;
}

.owl-toptrends {
    a {
        position: relative;
    }
}

.widget-posts.all_news {
    .post-head {
        .post-user {
            align-items: flex-start;
        }
    }
    .ep-post h2 {
        margin-top: 0px;
    }
    .post-reactions ul {
        justify-content: space-between;
        li {
            margin-left: 0px !important;
        }
    }
}