/* Suresh */
.theme-light {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-grey-dark: #737373;
    --color-grey-ligt: #9A9A9A;
    --bg-grey: #E5E5E5;
    --color-blue: #1492E6;
    --color-orange: #FF8A00;    
    --color-ripple: #030303;
    --color-border: #DFDFDF;
    --color-grey-light1:#242323;
}
.theme-dark {
    --color-bg: #060808;
    --color-dark: #ffffff;
    --color-dark2: #ffffff;
    --color-ligt: #ffffff;
    --color-blue: #ffffff;
    --color-orange: #ffffff;
    --color-grey-light1:#777676;
    
}


.funcard {
 
  margin: 0px 4px;
  transition: .6s ease;
}

.funcard:hover {
  transform: scale(1.05);
}

.card-block {
   padding: 5px 0px;
    text-align: center;
}
div.scrollcards .funcard {
  display: inline-block;

  text-decoration: none;
  height: 68px; 
  width: 68px;
}





/*create wishes css*/
.txt_bg
{
  width: 100%;
    background-color: #25C3DC;
    border: 0px;
    color:var(--color-light);
    font-size: 30px;
    text-align: center;
}
.img_bg
{
  width: 100%;

    border: 0px;
    color:var(--color-light);
    font-size: 30px;
    text-align: center;
    background-image: url("assets/img/Fun@work/26.png");
background-repeat-x: no-repeat;
}

.wish_cards {
  background-color: var(--color-light);
  overflow: auto;
  white-space: nowrap;
}

.wish_cards div
{
  display: inline-block;
}

.btn-send
{
  background-color:#3C7BE9;
    color: var(--color-light);
    border: 0px;
    width: 100%;
    padding: 2%;
    margin-top: 7%;
    opacity: 100%;
}


.wish_iconset span a
{
  color: var(--color-light);
}

.wish_Greetimg
{
  position: relative;
    top: -44px;
    color: var(--color-light);
}

.wish_iconset
{
  position: relative;
    top: -44px;
    color: var(--color-light);
}
.wish_iconset span{
  display: inline-block;
  padding: 10px;
}
.createwish::placeholder
{
  color: #fff;
}


/* css start basket ball tournament*/




.BT_img_res
{
  width: 100%;
  height: auto;
}
.pmlr_0
{
  padding-left:0px;
  padding-right:0px;
margin-left:0px;
margin-right: 0px;
}

.pmlr_0 div{
  display: inline;
}

.btn_intrested
{
  border-radius: 25px;
  background-color:var(--color-blue);
  border:0px;
  color:#fff;
}

/* .BB_tournament input[type='radio']
{
  margin: 10px;
} */
.pmlr_0{
  
  margin-right: 0px;
    margin-left: 0px;
}
.fl_R
{
  float:right;
}
.AL_center
{
  text-align: center;
}

.btn_submit
{
  border-radius: 5px;
    background-color:var(--color-blue);
    border: 0px;
    color: #fff;
    width: 100%;
}
.winner
{
  color: #3C7BE9;
}
.nop
{
  color:var(--color-grey-dark);
}

.bkcmd_name
{
font-size: 11px;
color: #000;
line-height: 0.2;
}
.cmd_detail
{
font-size: 11px;
color: #000;
margin-bottom: 1px;
}
.cmd_hrs
{
font-size: 11px;
color:var(--color-blue);
margin-bottom: 1px;
}
.cup_icn
{
  text-align: right;
 
    left: 15px;
}
.cup_icn div
{
  font-size: 2rem;
}

.share_reply{
  padding: 10px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
}

.share_reply div:last-child
{
text-align: right;
padding-right: 0px;
font-size: 1rem;
}
.share_reply div:first-child
{
text-align: left;
font-size: 1rem;
}

.share_reply div:nth-child(2)
{
text-align: center;
font-size: 1rem;
}

.btnclose
{
  background: transparent;
    border: 0px;
    font-size: 1.9rem;
    padding: 9px;
    margin-top: -30px;
    color: #b9b1b1;
    right:10px;
    padding: 0rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
.modal-header
{
  border-bottom: 0px;
}
.modal-footer
{
  background-color: #EEEEEE;
    -webkit-box-shadow: -1px -9px 5px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: -1px -9px 5px -4px rgba(0,0,0,0.43);
    box-shadow: -6px -9px 3px -9px rgb(0 0 0 / 40%);
    text-align: center;
}
.modal-footer p{
  width:100%;
}

.PLR_0{
padding-left:0px;
padding-right:0px;
}
/* .modal{
  margin: 50% auto;
} */

/*background css*/
.TB_shadow
{
  box-shadow: 0 0 10px #ddd;
}
.back_tit
{
  color:var( --color-grey-light1);
  font-size: 14px;
}
.back_icn
{
  color: #757575;
}
.bdr_btm
{
  border-bottom: 1px solid #cac7c7;
}
.icn_blue
{
  color: var(--color-blue);
  text-align: right;
}

/*profile*/

.pro_icn_edit
{
  top: -40px;
    left: 0px;
    background-color: transparent;
    box-shadow: none;
    color: var(--color-blue);
}
.Profile_DB
{
  border: 2px solid #ddd;
    padding: 5px;
    display: inline-block;
    margin: 3px;
    background-color: #fff;
}

.Profile_B_bg
{
  background-color: #F3F6F8;

}

.Pro_title
{
  font-size: 11px;
    color: #3B3B3B;
}
.Pro_title span{
  color: #B9B9B9;
  padding-left: 10px;
}
.pro_endorsed
{
  color:#3B3B3B;
}

.Pro_con
{
  color:var(--color-blue) !important;
  padding-left: 15px;
}
.Pro_cmd_detail
{
  margin-top: 7px;
}

.pro_detail
{
  font-size: 11px;
    color:var( --color-grey-light1);
    margin-bottom: 1px;
    line-height: 1.22;
}
.pro_detail span{
  color:#adadad;
  font-size: 11px;
}
.Pro_SM
{
  text-align: center;
    width: 100%;
    display: block;
    color:var(--color-blue);
    font-size: 11px;
}
.icn_edit
{
  color:var(--color-blue);
}
.Pro_bdr_btm
{
  border-bottom:1px solid #c1bdbd; margin-bottom: 15px;
}
.Pro_tab
{
  background-color: var(--color-blue); padding: 10px;width: 100%;
display: block;
color: #fff;
margin-bottom: 8px;
}
.Pro_tab i{
  float:right;
}
.Pro_contact
{
  font-size: 1.5rem;
    padding: 6px;
    position: absolute;
    color: #757575;
}
.Profile_DB .count
{
  text-align: center;
    color: var(--color-blue);
    font-size: 15px;
}
.Profile_DB .DBlink
{
  color: #3B3B3B;
    font-size: 11px;
}
.Profile_DB_bggray
{
  background-color: #F3F6F8;
}
.Pro_header
{
  background-color: #1B6CA8;
  height: 65px;
}
.Pro_header div{
  top: 14px;

}
.Pro_header_cnt div
{
  top: 21px;
  display: inline;
  
}
.Pro_header_cnt
{
  height: 115px;
}
.Pro_header_cnt .icn
{
  float: right;
    top: -65px;
}


/*Reward start*/

.rewards input::placeholder{
color:var(--color-grey-dark);
font-size: 14px;
}




/*create wishes css*/
.txt_bg
{
  width: 100%;
    background-color: #25C3DC;
    border: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
}
.img_bg
{
  width: 100%;

    border: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
    background-image: url("assets/img/Fun@work/26.png");
}

.wish_cards {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
}

.wish_cards div
{
  display: inline-block;
}

.btn-send
{
  background-color:#3C7BE9;
    color: #fff;
    border: 0px;
    width: 100%;
    padding: 2%;
    margin-top: 7%;
    opacity: 100%;
}
.wish_iconset span a
{
  color: var(--color-light);
}
.wish_Greetimg
{
  position: relative;
    top: -44px;
    color: #fff;
}

.wish_iconset
{
  position: relative;
    top: -44px;
    color: #fff;
}
.wish_iconset span{
  display: inline-block;
  padding: 10px;
}
.createwish::placeholder
{
  color:var(--color-dark);
}


/* css start basket ball tournament*/
.pmlr_0
{
  padding-left:0px;
  padding-right:0px;
margin-left:0px;
margin-right: 0px;
}

.pmlr_0 div{
  display: inline;
}

.btn_intrested
{
  border-radius: 25px;
  background-color:var(--color-blue);
  border:0px;
  color:#fff;
}

.BB_tournament input[type='radio']
{
  margin: 10px;
}
.BaskelBallTMform input[type='radio']
{
  margin: 10px;
}

.pmlr_0{
  
  margin-right: 0px;
    margin-left: 0px;
}
.fl_R
{
  float:right;
}
.AL_center
{
  text-align: center;
}

.btn_submit
{
  border-radius: 5px;
    background-color: var(--color-blue);
    border: 0px;
    color: #fff;
    width: 100%;
}
/*intro css start*/
.intro .icon-EP-Icons_Tik
{
font-size: 19px;
color:var(--color-blue); 
}

.intro .icon-EP-Icons_Close
{
  font-size: 14px !important;
}

.intro label{    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;}
.input-parent {
    width: 100%;
  
    position: relative;
}

.In_lblname
{
  margin-left: 10%;
    padding: 1px 10px;
    background-color: #EBE7E7;
    width: auto !important;
    font-weight: bold;
} 

.input-parent input:focus{outline: none;}
.input-parent input{width: 100%;}
.effect-2{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.input-parent{width: 100%; position: relative; border-bottom: 1px solid #ccc;}

.input-parent1 input:focus{outline: none;}
.input-parent1 input{width: 100%; position: relative;}

.effect-2{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}
.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #000; transition: 0.4s;}
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}


.effect-2 ~ label{font-weight: normal;
    font-size: 14px;position: absolute; left: 0; width: 100%; top: 9px; color: #000; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-2:focus ~ label, .has-content.effect-2 ~ label{top: -16px; font-size: 12px; color: #000; transition: 0.3s;}
.ef_To + label
{
  margin-left: 2%;
    font-weight: bold;
}
.txtlink
{
  right: 10px;
    float: right;
    position: relative;
    font-size: 10px;
    top: 7px;
}
.icn_edit
{
  background-color: var(--bg-grey);
    padding: 10px;
    border-radius: 25px;
    color:var(--color-blue);
    position: relative;
    top: 33px;
    left: -40px;
    box-shadow: 0 6px 14px -3px #ddd;
}
.ta_center
{
  text-align: center;
}
/*education edit*/
.icn_blue
{
  color: var(--color-blue);
  font-size: 19px;

}
.btnattach
{
  background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 3px 11px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    top: -35px;
    position: relative;
}
.photolbl
{
  position: absolute;
  top:-21px !important;
  color: #C3C3C3 !important;
  font-size: 12px;
}
.medialbl
{
  top: -45px;
    position: absolute;
    font-weight: normal;
    font-size: 14px;
}


.input-parent .radio label
{
  font-weight: normal;
  font-size: 14px;
}

.input-parent .radio label input
{
 width: auto;
}

.input-parent .radio label input[type='radio'] 
  {
    margin:0px 10px;;
  }
  .ba-cdenter
  {
    text-align: center;
    margin-top: 20px;
  }


.btnreward
{
  background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 3px 11px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;

    position: relative;
}

.to-add
{
  float: right;
    top: -25px;
    position: relative;
    padding: 0px 10px;
}

.rewards div form div p
{
  font-size: 14px;
  margin: 7px 0px  !important;
}

.rewards div form div .ptitle
{
color: var(--color-grey-ligt);
}
.bdr_btm_0{
border-bottom:0px !important;
}

/*Reward End*/

/*Edit contact info start*/



/*create wishes css*/
.txt_bg
{
  width: 100%;
    background-color: #25C3DC;
    border: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
}
.img_bg
{
  width: 100%;

    border: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
    background-image: url("assets/img/Fun@work/26.png");
}

.wish_cards {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
}

.wish_cards div
{
  display: inline-block;
}

.btn-send
{
  background-color:#3C7BE9;
    color: #fff;
    border: 0px;
    width: 100%;
    padding: 2%;
    margin-top: 7%;
    opacity: 100%;
}
.wish_iconset span a
{
  color: var(--color-light);
}

.wish_Greetimg
{
  position: relative;
    top: -44px;
    color: #fff;
}

.wish_iconset
{
  position: relative;
    top: -44px;
    color: #fff;
}
.wish_iconset span{
  display: inline-block;
  padding: 10px;
}
::placeholder
{
  color: #fff;
}


/* css start basket ball tournament*/
.pmlr_0
{
  padding-left:0px;
  padding-right:0px;
margin-left:0px;
margin-right: 0px;
}

.pmlr_0 div{
  display: inline;
}

.btn_intrested
{
  border-radius: 25px;
  background-color:var(--color-blue);
  border:0px;
  color:#fff;
}

/* input[type='radio']
{
  margin: 10px;
} */
.pmlr_0{
  
  margin-right: 0px;
    margin-left: 0px;
}
.fl_R
{
  float:right;
}
.AL_center
{
  text-align: center;
}

.btn_submit
{
  border-radius: 5px;
    background-color:var(--color-blue);
    border: 0px;
    color: #fff;
    width: 100%;
}
/*intro css*/
.intro label{    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;}
.input-parent {
    width: 100%;
    margin: 30px 0%;
    position: relative;
}
.input-parent1 {
    width: 45%;
    margin: 30px 2%;
    position: relative;
    display: inline-block;
}
.input-parent input:focus{outline: none;}
.input-parent input{width: 100%;}
.effect-2{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.input-parent{width: 100%; position: relative;}

.input-parent1 input:focus{outline: none;}
.input-parent1 input{width: 100%; position: relative;}

.effect-2{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}
.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #000; transition: 0.4s;}
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}


.effect-2 ~ label{font-weight: normal;
    font-size: 14px;position: absolute; left: 0; width: 100%; top: 9px; color: #000; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-2:focus ~ label, .has-content.effect-2 ~ label{top: -16px; font-size: 12px; color: #000; transition: 0.3s;}

.txtlink
{
  right: 10px;
    float: right;
    position: relative;
    font-size: 10px;
    top: 7px;
}
.icn_edit
{
  background-color: var(--bg-grey);
    padding: 10px;
    border-radius: 25px;
    color:var(--color-blue);
    position: relative;
    top: 33px;
    left: -40px;
    box-shadow: 0 6px 14px -3px #ddd;
}
.ta_center
{
  text-align: center;
}
/*contact edit*/
::placeholder
{
  color:var(--color-grey-ligt);
}
.icn_blue
{
  color:var(--color-blue);
  font-size: 19px;

}
.contact-info input:valid ~ label {
  top: -20px;
}


/*Edit contact info end*/

/*Edit Education start*/


.Sec_Editeducation input:valid ~ label {
  top: -20px;
}

/*Edit Education end*/





/*create wishes css*/
.txt_bg
{
  width: 100%;
    background-color: #25C3DC;
    border: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
}
.img_bg
{
  width: 100%;

    border: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
    background-image: url("assets/img/Fun@work/26.png");
}

.wish_cards {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
}

.wish_cards div
{
  display: inline-block;
}

.btn-send
{
  background-color:#3C7BE9;
    color: #fff;
    border: 0px;
    width: 100%;
    padding: 2%;
    margin-top: 7%;
    opacity: 100%;
}
.wish_iconset span a
{
  color: var(--color-light);
}

.wish_Greetimg
{
  position: relative;
    top: -44px;
    color: #fff;
}

.wish_iconset
{
  position: relative;
    top: -44px;
    color: #fff;
}
.wish_iconset span{
  display: inline-block;
  padding: 10px;
}
::placeholder
{
  color: #fff;
}


/* css start basket ball tournament*/
.pmlr_0
{
  padding-left:0px;
  padding-right:0px;
margin-left:0px;
margin-right: 0px;
}

.pmlr_0 div{
  display: inline;
}

.btn_intrested
{
  border-radius: 25px;
  background-color:var(--color-blue);
  border:0px;
  color:#fff;
}

/* input[type='radio']
{
  margin: 10px;
} */
.pmlr_0{
  
  margin-right: 0px;
    margin-left: 0px;
}
.fl_R
{
  float:right;
}
.AL_center
{
  text-align: center;
}

.btn_submit
{
  border-radius: 5px;
    background-color:var(--color-blue);
    border: 0px;
    color: #fff;
    width: 100%;
}
/*intro css*/
.intro label{    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;}
.input-parent {
    width: 100%;
    margin: 30px 2%;
    position: relative;
}
.input-parent1 {
    width: 45%;
    margin: 30px 2%;
    position: relative;
    display: inline-block;
}
.input-parent input:focus{outline: none;}
.input-parent input{width: 100%;}
.effect-2{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.input-parent{width: 100%; position: relative;}

.input-parent1 input:focus{outline: none;}
.input-parent1 input{width: 100%; position: relative;}

.effect-2{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}
.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #000; transition: 0.4s;}
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}


.effect-2 ~ label{font-weight: normal;
    font-size: 14px;position: absolute; left: 0; width: 100%; top: 9px; color: #000; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-2:focus ~ label, .has-content.effect-2 ~ label{top: -16px; font-size: 12px; color: #000; transition: 0.3s;}

.txtlink
{
  right: 10px;
    float: right;
    position: relative;
    font-size: 10px;
    top: 7px;
}
.icn_edit
{
  background-color: var(--bg-grey);
    padding: 10px;
    border-radius: 25px;
    color: var(--color-blue);
    position: relative;
    top: 33px;
    left: -40px;
    box-shadow: 0 6px 14px -3px #ddd;
}
.ta_center
{
  text-align: center;
}
/*education edit*/
.icn_blue
{
  color:var(--color-blue);
  font-size: 19px;

}
.btnattach
{
  background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 3px 11px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    top: -35px;
    position: relative;
}
.photolbl
{
  position: absolute;
  top:-21px !important;
  color: #C3C3C3 !important;
  font-size: 12px;
}
.medialbl
{
  top: -45px;
    position: absolute;
    font-weight: normal;
    font-size: 14px;
}


/*Edit Education end */

/*background start*/
.background_sec .cmd_detail
{

}


.TB_shadow
{
  box-shadow: 0 0 10px #ddd;
}
.back_tit
{
  color: var( --color-grey-light1);
  font-size: 14px;
}
.back_icn
{
  color: #757575;
}
.bdr_btm
{
  border-bottom: 1px solid #cac7c7;
}
.icn_blue
{
  color:var(--color-blue);
  text-align: right;
}



/*background end */
/*skills endoresment list start*/

.SElist .icon-EP-Icons_Close
{
font-size:14px !important;
}
.SElist .icon-EP-Icons_Tik
{
font-size: 18px !important;
color:var(--color-blue);
}


.srch_input
{
  width: 95%;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #eaeaea;
    height: 30px;
    text-indent: 9%;
    font-size: 11px;
    color: #3B3B3B;
margin:10px;
}

.ta_center
{
  text-align: center;
}
.srch_icn
{
 
    top: -32px;
    position: relative;
    float: left;
    left: 19px;
}
::placeholder
{
  color:rgb(194, 193, 193);
}
.pmlr_0
{
  padding-left:0px;
  padding-right:0px;
margin-left:0px;
margin-right: 0px;
}
.skl_msg
{
  font-size: 11px;
    color: #3B3B3B;
    margin-top: -3px;
    position: absolute;
  
}
.skill_add
{
  display: block;
    padding: 7px 14px;
    background-color:var(--color-blue);
    border-radius: 10px;
    color: #fff;
    border: 1px solid #0B81D1;
    font-size: 12px;
    width: 30%;
    margin-left: 24px;
}
.skill_add_grey
{
  display: inline-block;
    padding: 7px 14px;
    background-color: #E9E8E8;
    border-radius: 10px;
    color: var( --color-grey-light1);
    border: 1px solid var(--color-border);
    font-size: 12px;
  
    margin: 4px;
 
    float: left;
}
/*skills endoresment list end*/
/*Skills endoresment start*/
.panel-body {
    padding: 15px;
    box-shadow: 0px 3px 16px -5px rgba(0, 0, 0, 0.3);
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default>.panel-heading {
  color: #000;
    background-color: #E9E8E8;
    border-color: #ddd;
    font-size: 12px;
}
.Dpoint
{
 
color:#000;
  font-size: 11px;
  padding:7px;
}

.Dpoint span
{
  padding:5px;
  color:#B9B9B9;
}
.ta_center
{
  text-align: center;
}

/*skills Endoresment end*/

/*skills endoresment edit start*/
.panel-body {
    padding: 15px;
    box-shadow: 0px 3px 16px -5px rgba(0, 0, 0, 0.3);
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default>.panel-heading {
  color: #000;
    background-color: #E9E8E8;
    border-color: #ddd;
    font-size: 12px;
}
.Dpoint
{
 color:#000;

  font-size: 11px;
}

.Dpoint span
{
  padding:5px;
  color:#B9B9B9;
}
.ta_center
{
  text-align: center;
}
.icn_delete
{
  float: right;
    font-size: 14px;
    color: #8B8B8B !important;
}

/*skills endoresment edit end*/

/*about us start*/
.about .icon-EP-Icons_Close
{
  font-size:14px !important;
}
.about .icon-EP-Icons_Tik
{
  color: var(--color-blue);
  font-size: 18px;
}

.abt_title
{
  color:#8B8B8B;
  font-size: 11px;
}
.abt_cnt p
{
  font-size: 11px;
}
/*about us end */
/*intro start*/
/* label{    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
 } 10120*/
.input-parent {
    width: 100%;
    margin: 30px 2%;
    position: relative;
}
.input-parent input:focus{outline: none;}
.input-parent input{width: 100%;}
.effect-2{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.input-parent{width: 100%; position: relative;}
.effect-2{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}
.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #000; transition: 0.4s;}
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}


.effect-2 ~ label{font-weight: normal;
    font-size: 14px;position: absolute; left: 0; width: 100%; top: 9px; color: #000; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-2:focus ~ label, .has-content.effect-2 ~ label{top: -16px; font-size: 12px; color: #000; transition: 0.3s;}

.txtlink
{
  right: 10px;
    float: right;
    position: relative;
    font-size: 10px;
    top: 7px;
}
.icn_edit
{
  background-color: var(--bg-grey);
    padding: 10px;
    border-radius: 25px;
    color: var(--color-blue);
    position: relative;
    top: 33px;
    left: -40px;
    box-shadow: 0 6px 14px -3px #ddd;
}
.ta_center
{
  text-align: center;
}

/*intro end*/

/*survey poll start*/
.survey_polls .AL_center img{
  padding:1% 18%;
}

.survey_polls .btn_submit
{
  border-radius: 5px !important;
}

.survey_polls input[type='radio']
{
margin:10px;
}
.survey_polls form{
  margin: 0px 30px;
}
.survey_polls img{
  height: auto;
  width: 100%;
}
.btn_submit
{
  border-radius: 5px;
    background-color: #1492E6;
    border: 0px;
    color: #fff;
    width: 100%;
}
/*survey poll end*/
/*comments start*/
.post-likes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-likes .likedby-img li {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 100%;
}

.post-likes .likedby-img li:first-child {
  z-index: 99;
  position: relative;
}

.post-likes .likedby-img li:nth-child(2) {
  z-index: 9;
  position: relative;
}

.post-likes .likedby-img li img {
  height: 20px;
  border-radius: 100%;
}

.post-likes .likedby-img li + li {
  margin-left: -13px;
}
.post-likes .likedby-name li {
  font-size: 11px;
  font-weight: 400;
}

.post-likes .likedby-name li span {
  color: var(--color-dark);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.cmds_bg
{
  width:100%;
  border:0px;
  background-color: #ddd;
 
}

::placeholder {
  color:#000;
  font-size: 1.5em;
}


.btn_post
{
  border-radius: 25px;
  background-color:var(--color-blue);
  border:0px;
  color:#fff;
  float:right;
}
.cmd_bdr
{
  border-bottom:1px solid #ddd;
}
.cmd_name
{
font-size: 14px;
color: #000;
line-height: 0.2;
}
.cmd_detail
{
font-size: 11px;
color: #2680EB;
margin-bottom: 1px;
}
.cmd_hrs
{
font-size: 11px;
color:var(--color-grey-ligt);
margin-bottom: 1px;
}
.like_icn
{
  text-align: right;
    top: 15px;
    left: 15px;
}
.cmd_reply div:last-child
{
text-align: right;
padding-right: 0px;
}
.cmd_reply div:first-child
{
text-align: left;
}

.cmd_reply div:nth-child(2)
{
text-align: center;
}
.comment_list
{
  padding-bottom:5px;
}
.cmd_sl
{
  margin-left: 11%;
  padding: 2%;
}
/*comments end*/
/*fun at work start*/

.FW_upcomming-list
{
  border-bottom: 0px solid var(--color-border);
  padding-bottom: 15px;
}

.scrollcards {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

div.scrollcards .card {
    display: inline-block;
 
    text-decoration: none;
    height: 68px; 
    width: 68px;
}
.card-text
{
	font-size:10px;
	
}
.Birthday_icon
{
  border-radius: 50px;
}



.birthday_list
{
  border-bottom:1px solid #ddd;
}
.birthday_title
{
  float:right; color:var(--color-blue); font-size:11px;
top:5px;
}

.page-tit p
{
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 600;
}
.birthday_title a{
  float: right;
  font-size: 11px;
}

.birthday_name
{
font-size: 12px;
color: #000;
margin-bottom: 6px;
}
.birthday_location
{
  font-size: 9px;
color: #000;
margin-bottom: 6px;
}
.birthday_event
{
  margin-bottom: 6px;
color: #3C7BE9;
font-size: 9px;
}
.birthday_date
{
  color: var(-color-dark);
font-size: 9px;
margin-bottom: 1px;
}
.FW_birthday_date_icon
{
   width: 35px !important;
    margin-left: 30%;
}

/*event start */
.event_icon
{
  border-radius: 50px;
}

.event_list_BB{
  border-bottom: 1px solid #ddd;
    /* width: 100%; */
    display: inline-flex;
    padding-bottom: 3%;
}

.event_list
{
  border-bottom:1px solid #ddd;
}
.event_title
{
  float:right; color:var(--color-blue); font-size:11px
}

.page-tit p
{
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 600;
}
.event_title a{
  float: right;
  font-size: 11px;
}

.event_name
{
font-size: 12px;
color: #000;
margin-bottom: 6px;
}
.event_location
{
  font-size: 9px;
color: #000;
margin-bottom: 6px;
}
.event_event
{
  margin-bottom: 6px;
color: #3C7BE9;
font-size: 9px;
}
.event_date
{
  color:var(-color-dark);
font-size: 10px;
margin-bottom: 1px;
}
.event_date_icon
{
   width: 35px !important;
    margin-left: 20%;
}

.Mar_pname
{
  max-width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 12px;
    padding-right: 0px;
    margin-right: 0px;
  

}
.PLR_0
{
  padding-left: 0px;
    padding-right: 0px; 
}
/*fun at work end*/
/*basket ball tournament form start*/

.BaskelBallTMform img{
  width: 100%;
  height: auto;
}

.pmlr_0
{
  padding-left:0px;
  padding-right:0px;
margin-left:0px;
margin-right: 0px;
}

.pmlr_0 div{
  display: inline;
}
.BBTF_title
{
  margin-top: 10px;
}

.BBTF_title_sec
{
  margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}
.BBTF_title_sec h2
{
  font-size: 12px;
}
.BBTF_title_date
{
  padding-left: 0px;
padding-right: 0px;
text-align: right;
}
.BBTF_title_date h2
{
  font-size: 12px;
}
.BBTF_dinhert
{
  display: inherit;
}


.BBTF_title_date span
{
  font-size: 16px;
}

.btn_intrested
{
  border-radius: 25px;
  background-color:var(--color-blue);
  border:0px;
  color:#fff;
}

.BaskelBallTMform input[type='radio']
{
  margin: 10px;
}


/*basket ball tournament form end*/
 
/*basket ball tournament start*/
.pmlr_0
{
  padding-left:0px;
  padding-right:0px;
margin-left:0px;
margin-right: 0px;
}

.pmlr_0 div{
  display: inline;
}
.BBT_title
{
  margin-top: 10px;
}

.BBT_title_sec
{
  margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}
.BBT_title_date
{
  padding-left: 0px;
padding-right: 0px;
}


.BBT_title_date span
{
  font-size: 16px;
}

.btn_intrested
{
  border-radius: 25px;
  background-color:var(--color-blue);
  border:0px;
  color:#fff;
}



/*basket ball tournament end*/
/*send wishes start*/
 .SW_row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
     
  }
.txt_bg
{
  width: 100%;
    background-color: #25C3DC;
    border: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
}
.img_bg
{
  width: 100%;

    border: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
    background-image: url("../img/Fun@work/26.png");
}

.wish_cards {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
}

.wish_cards div
{
  display: inline-block;
}

.btn-send
{
  background-color:#3C7BE9;
    color: #fff;
    border: 0px;
    width: 100%;
    padding: 2%;
    margin-top: 7%;
    opacity: 100%;
}
.wish_iconset span a
{
  color: var(--color-light);
}

.wish_Greetimg
{
  position: relative;
    top: -44px;
    color: #fff;
}

.wish_iconset
{
  position: relative;
    top: -44px;
    color: #fff;
}
.wish_iconset span{
  display: inline-block;
  padding: 10px;
}
::placeholder
{
  color: #fff;
}
/*send wishes end */

/*create greet start*/.txt_bg
{
  width: 100%;
    background-color: #25C3DC;
    border: 0px;
    color:var(--color-light);
    font-size: 30px;
    text-align: center;
}

.wish_cards {
  background-color: var( --color-light);
  overflow: auto;
  white-space: nowrap;
}

.wish_cards div
{
  display: inline-block;
}

.btn-send
{
  background-color:#3C7BE9;
    color: var( --color-light);
    border: 0px;
    width: 100%;
    padding: 2%;
    margin-top: 7%;
    opacity: 100%;
}
.wish_iconset span a
{
  color: var(--color-light);
}

.wish_Greetimg
{
  position: relative;
    top: -44px;
    color: var(--color-light);
}

.wish_iconset
{
  position: relative;
    top: -44px;
    color: #fff;
}
.wish_iconset span{
  display: inline-block;
  padding: 10px;
}
::placeholder
{
  color:var( --color-light);
}
/*create greet end*/
/*create wish start*/
.txt_bg
{
  width: 100%;
    background-color: #25C3DC;
    border: 0px;
    color:var(--color-light);
    font-size: 30px;
    text-align: center;
}

.wish_cards {
  background-color:var(--color-light);
  overflow: auto;
  white-space: nowrap;
}

.wish_cards div
{
  display: inline-block;
}

.btn-lightblue
{
  background-color:rgb(219 236 248);
    color: var(--color-light);
    border: 0px;
    width: 100%;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 7%;
    opacity: 100%;
}
.wish_iconset
{
  position: relative;
    top: -44px;
    color: var(--color-light);
}
.wish_iconset span{
  display: inline-block;
  padding: 10px;
}
::placeholder
{
  color: var(--color-light);
}
/*create wish end*/

/*wishes start*/
.Wishes_birthday_date_icon {
  width: 35px !important;
  margin-left: 0%;
}

.Wishes_upcomming-list
{
  border-bottom: 0px solid var(--color-border);
  padding-bottom: 15px;
}

.scrollcards {
  background-color:var(--color-light);
  overflow: auto;
  white-space: nowrap;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

div.scrollcards .card {
    display: inline-block;
 
    text-decoration: none;
    height: 68px; 
    width: 68px;
}
.card-text
{
	font-size:10px;
	
}

.TA_center
{
  text-align: center;
}
.Wishes_icon
{
  border-radius: 50px;
}



.Wishes_list
{
  border-bottom:1px solid #ddd;
  padding-bottom: 10px;
}
.Wishes_title
{
  float:right; color:var(--color-blue); font-size:11px
}

.page-tit p
{
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 600;
}
.Wishes_title a{
  float: right;
  font-size: 11px;
}

.Wishes_name
{
font-size: 12px;
color: #000;
margin-bottom: 2px;
}
.Wishes_location
{
  font-size: 9px;
color: #000;
margin-bottom: 2px;
}
.Wishes_event
{
  margin-bottom: 2px;
color: #3C7BE9;
font-size: 9px;
}
.Wishes_date
{
  color:var(--color-dark);
font-size: 10px;
margin-bottom: 1px;
}
.Wishes_date_icon
{
   width: 35px !important;
 
}

/*wishes end*/

/*survey poll list start*/

.ta_center
{
  text-align: center !important;
}
.pmlr_0
{
  padding-left:0px;
  padding-right:0px;
margin-left:0px;
margin-right: 0px;
}

.pmlr_0 div{
  display: inline;
}

.btn_intrested
{
  border-radius: 25px;
  background-color:var(--color-blue);
  border:0px;
  color:#fff;
}

.survey-PLlist input[type='radio']
{
  margin: 10px;
}

.pmlr_0{
  
  margin-right: 0px;
    margin-left: 0px;
}
.fl_R
{
  float:right;
}
.AL_center
{
  text-align: center;
}

.btn_submit
{
  border-radius: 5px;
    background-color: var(--color-blue);
    border: 0px;
    color: #fff;
    width: 100%;
}
.winner
{
  color: #3C7BE9;
}
.nop
{
  color:var(--color-grey-dark);
}

.surv_name
{
font-size: 14px;
color: #000;
line-height: 0.2;
}
.surv_detail
{
font-size: 11px;
color: #000;
margin-bottom: 1px;
}
.surv_hrs
{
font-size: 11px;
color: #000;
margin-bottom: 1px;
}
.cup_icn
{
  text-align: right;
 
    left: 15px;
}
.cup_icn div
{
  font-size: 2rem;
}

.share_reply{
  padding: 10px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
}

.share_reply div:last-child
{
text-align: right;
padding-right: 0px;
font-size: 1rem;
}
.share_reply div:first-child
{
text-align: left;
font-size: 1rem;
}

.share_reply div:nth-child(2)
{
text-align: center;
font-size: 1rem;
}

.btnclose
{
  background: transparent;
    border: 0px;
    font-size: 1.9rem;
    padding: 9px;
    margin-top: -30px;
    color: #b9b1b1;
    right:10px;
    padding: 0rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
.modal-header
{
  border-bottom: 0px;
}
.modal-footer
{
  background-color: #EEEEEE;
    -webkit-box-shadow: -1px -9px 5px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: -1px -9px 5px -4px rgba(0,0,0,0.43);
    box-shadow: -6px -9px 3px -9px rgb(0 0 0 / 40%);
    text-align: center;
}
.modal-footer p{
  width:100%;
}

.PLR_0{
padding-left:0px;
padding-right:0px;
}
.spmodal{
  margin: 50% auto !important;
}
.survey-PLlist img 
{
  width:100%;
  height: auto;
}

/*survey poll list end*/
/*festival start*/
.pmlr_0
{
  padding-left:0px;
  padding-right:0px;
margin-left:0px;
margin-right: 0px;
}

.pmlr_0 div{
  display: inline;
}
.BBT_title
{
  margin-top: 10px;
}

.BBT_title_sec
{
  margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}
.BBT_title_date
{
  padding-left: 0px;
padding-right: 0px;
}


.BBT_title_date span
{
  font-size: 12px;
}
.festival-events div{
  padding:5%;
}

.img_caption
{
  padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin: 15px 0px;
    margin-bottom: 0px;
}
.like_pa015 div,.like_pa015
{
  padding: 0px 15px !important;
}

.festivel_row
{
  flex-wrap: wrap;
  display: flex;
}

/*festival end*/

