.theme-light {
  --color-light-grey2: #9A9A9A;
  --color-light-grey3: #E6E6E6;
  --color-light-grey4: #F5F5F5;
  --color-dark-grey3: #4B4B4B;
}

.theme-dark {
  --color-light-grey2: #9A9A9A;
  --color-light-grey3: #E6E6E6;
  --color-light-grey4: #303030;
  --color-dark-grey3: #4B4B4B;
  --bg-grey: #636161;
}

.icon-orange {
  color: var(--color-orange) !important;
}

.icon-blue {
  color: var(--color-blue) !important;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

button:focus {
  outline: 0;
}

.icon {
  /*font-size: 18px;*/
  color: var(--color-light-grey);
}

.h-100 {
  height: 100%;
}

hr {
  margin: 0px;
}

.pt-35 {
  padding-top: 35px;
}

.medium {
  font-weight: 500;
}

.event-card .event-detail h3 {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.card p.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-curve {
  border-radius: 50px;
  border: none;
  background: #1492E6;
  color: #fff;
  padding: 4px 15px;
  font-size: 14px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-bottom {
  position: absolute;
  width: 100%;
  bottom: 50px;
}

.admin-media {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  max-width: 40px;
  background: #4CB5AB;
  height: 40px;
  border-radius: 100%;
}

.admin-media i {
  color: #fff;
  vertical-align: -webkit-baseline-middle;
  line-height: 41px;
  font-size: 20px;
}

.form-arrow {
  position: absolute;
  right: 0px;
  top: 35%;
}

.form-group-material sup {
  color: #f00;
}

header .pro-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .active-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-left: 6px;
}

header .active-person h3 {
  margin-bottom: 0px;
}

header .active-person span {
  font-size: 11px;
  color: #11BF1D;
}

.card p {
  margin-bottom: 0px;
}

.card p.label-name {
  color: var(--color-dark);
}

.card p.label-value {
  color: var(--color-grey-ligt);
}

.card p.desc {
  overflow: hidden;
  font-size: 14px;
}

.card p.desc2 {
  max-width: 200px;
  font-size: 11px;
}

.card span.hashtags {
  color: var(--color-blue);
}

.card p.hashtags {
  color: var(--color-blue);
}

.card .readmore {
  margin-top: 10px;
}

.card .border-bottom-none {
  border: none;
}

/* Messaging */
.card-list p {
  margin-bottom: 0px;
  font-size: 14px;
}

.card-list h3 {
  margin-bottom: 0px;
}

.card-list p.time {
  color: var(--color-grey-ligt);
}

.card-list p.location {
  color: var(--color-light-grey2);
}

.card-list p.msg {
  color: var(--color-grey-dark);
}

/*market place*/
.market-single-details ul li {
  padding: 8px 0px;
  border-bottom: 1px solid var(--color-border);
}

.market-single-details ul li ul li {
  border-bottom: none;
}

.market-single-details ul li ul li.message {
  padding-right: 30px;
}

.market-single-details ul li ul li.message .text-message {
  height: 30px;
  width: 30px;
  background: #E8E8E8;
  border: 0.25px solid var(--color-border);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.market-single-details ul li ul li.message .text-message span.icon {
  color: #1492E6;
}

.market-single-details ul li ul li.message li.phone {
  padding: 0px 30px;
}

.related-advertisment .owl-stage {
  padding-left: 0px !important;
}

.related-advertisment .related-product {
  border: 1px solid var(--color-border);
  border-radius: 3px;
}

.related-advertisment .related-product .content {
  padding: 8px 0px;
}

.related-advertisment .related-product .content p {
  padding-bottom: 5px;
}

.market-place-card {
  padding: 10px 0px 15px 0px;
}

.market-place-card li {
  margin-right: 12px;
}

.market-place-card li .rating-value {
  font-size: 11px;
  color: #9A9A9A;
  margin-left: 10px;
}

.market-place-card li .view-value {
  margin-left: 3px;
  font-size: 12px;
  color: var(--color-dark);
}

.market-place-card li.total-slider {
  margin-right: 0px;
}

.market-place-card li.total-slider div {
  font-size: 8px;
  color: #fff;
  width: 30px;
  background: #FF8A00;
  height: 15px;
  border-radius: 21px;
}

.span-11 span {
  font-size: 11px;
}

.select-category a[aria-expanded="true"] .icon-EP-Icons_Down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.post-fileupload {
  background-color: var(--color-blue);
  border-radius: 50px;
  padding: 0px 15px;
}

.post-fileupload label {
  margin-bottom: 0px;
  color: var(--color-light) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-fileupload .attac-icon {
  color: var(--color-light) !important;
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
}

.camera-click {
  font-size: 20px;
  background-color: var(--color-blue);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  margin-left: 5px;
}

.camera-click span {
  color: var(--color-light);
}

/* Modal */
.viewmore {
  color: var(--color-blue);
}

.modal-half {
  max-width: 60% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.popub-box ul li a {
  color: var(--color-dark);
  font-size: 17px;
  padding: 6px 0px;
  display: block;
}

.modal-dialog {
  margin: 0px 15px;
}

.modal-header .close {
  padding: 0px;
  margin: 0px;
  background: none;
  border: none;
}

.popup-content {
  padding: 10px;
}

.modal-grey {
  background: #EEEEEE;
}

.white-bg {
  background: var(--color-bg);
}

.social-share {
  padding: 35px 0px;
  background-color: var(--sop);
}

.social-share ul li {
  padding: 0px 8px;
}

/* events */
.mb20px {
  margin-bottom: 15px !important;
}

/*.icons .icon{
    font-size: 18px;
}*/
.no-border {
  border-radius: 0px !important;
}

.suggestions-post h3 {
  margin-bottom: 2px;
}

.suggestions-post p.post-location {
  margin-top: 2px !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

.suggestions-post p.text-date {
  margin-bottom: 0px;
}

.market-slider h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emp-card h3 {
  font-size: 16px;
  color: var(--color-dark);
  margin-bottom: 2px;
}

.events-list {
  padding: 5px 0px 0px 15px;
}

.events-list .events-card {
  border: 1px solid var(--color-border);
  border-radius: 7px;
}

.events-list .events-card .events-details {
  padding: 10px 15px;
}

.events-list .events-card .events-details P {
  margin-bottom: 0.5rem;
  font-size: 12px;
}

.events-list .events-card .events-details .btn-blue {
  border-radius: 50px;
  border: none;
  background: #1492E6;
  color: #fff;
  padding: 4px 15px;
  font-size: 14px;
}

.events-list .events-card .events-details .count {
  padding-left: 5px;
  font-size: 12px;
  color: #ABABAB;
}

.events-slider .owl-stage {
  padding-left: 0px !important;
}

.upcomming-events2 p {
  color: var(--color-grey-dark);
}

.upcomming-list {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 15px;
}

.market-reaction ul li i {
  font-size: 18px;
}

.upcomming-events h3 {
  margin-bottom: 0px;
}

.upcomming-events p {
  margin-bottom: 0px;
}

.upcomming-events p.time {
  font-size: 12px;
}

.upcomming-events p.location {
  font-size: 12px;
  margin-top: 5px;
}

.events-participate-sec {
  padding: 10px 15px 15px 15px;
}

.events-participate-sec ul {
  margin-bottom: 11px;
}

.events-participate-sec ul li {
  font-weight: 500;
}

.events-participate-sec .qa .question {
  margin-bottom: 30px;
}

.events-participate-sec ul.options-list {
  margin-left: 15px;
}

.events-participate-sec ul.options-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.events-participate-sec ul.options-list li label {
  margin-bottom: 0px;
  font-size: 14px;
  margin-left: 8px;
}

.events-participate-sec ul.options-list li:first-child {
  margin-left: 0px;
}

.events-brief ul.events-details li:first-child h2 {
  margin-bottom: 0px;
}

.events-brief ul.events-details li:first-child p {
  margin-bottom: 5px;
}

.events-brief ul.events-details li p {
  margin-bottom: 0px;
}

.events-brief .media-row {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.events-brief .media-row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0 4px;
}

.events-brief .event-title {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 0px;
}

.events-brief .event-card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*category*/
.select-category .icon {
  font-size: 20px;
}

.select-category .card-header {
  border-bottom: 1px solid var(--color-border);
}

.select-category .card-header h2 {
  /*font-weight: 400;*/
}

.select-category a.category-header {
  padding: 16px 16px 6px 16px;
}

.select-category a.category-header .category-name h2 {
  margin-bottom: 0px;
}

.select-category .Category-list {
  padding: 0px 16px;
}

.select-category .Category-list li {
  font-size: 14px;
  padding: 8px 30px 4px;
  border-bottom: 1px solid var(--color-border);
}

.select-category .Category-list li a {
  color: var(--color-grey-dark);
}

.addperson ul {
  padding: 0px 16px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--color-border);
}

.addperson ul li .user-mail {
  background: var(--bg-grey);
  font-size: 12px;
  padding: 2px 6px;
  font-weight: 500;
}

.addperson ul li .icon-EP-Icons_Add {
  font-size: 16px;
}

/* contact card */
.contact-card .contact-list {
  padding: 16px 0px 8px 0px;
  border-bottom: 1px solid var(--color-border);
}

.contact-card p {
  color: var(--color-grey-dark);
}

/*footer2*/
.footer2 {
  background-color: var(--color-light-grey4);
  position: fixed;
  bottom: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
}

.footer2 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer2 .item .icon {
  padding: 10px;
}

.footer2 .item input {
  font-size: 11px;
  display: block;
  margin: 0px 0px;
  border: none;
  padding: 8px;
  color: var(--color-light-grey2);
  background: var(--color-bg);
  border: 1px solid var(--color-border);
}

.footer2 .item .icon.icon-grey {
  color: var(--color-light-grey);
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.hide-footer {
  display: none;
}

.theme-dark .content {
  color: #fff;
}

.theme-dark .user-mail {
  background-color: #636161 !important;
}

.theme-dark .footer2 input {
  border: 1px solid var(--color-border);
}

/* corrections :: START */
.black-overlay {
  overflow: hidden;
}

.black-overlay:before {
  content: "";
  position: fixed;
  background: rgba(0, 0, 0, 0.19);
  height: 100vh;
  width: 100%;
  z-index: 1000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

header .head-icon:last-child {
  padding-right: 6px !important;
}

.slide-product h3 {
  margin-bottom: 6px;
}

.profile-slider h3 {
  margin-bottom: 4px;
}

.overflow-show {
  overflow: inherit !important;
}

.ep-followup-list ul {
  position: absolute;
  top: 22px;
  right: 0px;
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  width: 140px;
  border-radius: 3px;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.ep-followup-list ul li a {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  color: var(--color-dark);
}

.follw-active {
  visibility: visible !important;
  opacity: 1 !important;
}

.widget-posts,
.widget-suggessions,
.event-post {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

h2 {
  font-size: 16px !important;
}

.ep-forms .form-control {
  border-radius: 4px !important;
  height: 45px !important;
}

.ep-forms .form-group-icon i {
  bottom: 60px !important;
}

.widget-posts .post-topic h2 {
  font-size: 14px;
}

.post-reactions {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.post-reactions ul li {
  margin-left: 25px !important;
  padding: 9px 0px;
}

.ep-post h2 {
  margin: 12px 0px 6px;
}

.ep-post p {
  margin: 0px 0px 12px;
}

.ep-reaction ul li a i {
  padding-right: 0px !important;
  font-size: 20px !important;
}

.ep-reaction ul li a span {
  padding-left: 5px;
  font-size: 12px !important;
}

.upcomming-events .event-post-list {
  padding-top: 8px;
}

.upcomming-events .event-post-list:not(:last-of-type) {
  padding-bottom: 8px;
  border-bottom: 1px dashed #d8d8d8;
}

.event-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-card .event-detail {
  padding-left: 9px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.event-card .event-detail h3 {
  color: var(--color-dark);
  font-size: 16px;
  margin-bottom: 0px;
}

.event-card .event-detail p {
  font-size: 14px;
  line-height: 15px;
  color: var(--color-grey-dark);
}

.event-card .event-name h4 {
  color: #F26106;
}

.fes-card .event-img img {
  width: 40px;
  height: 40px;
}

.fes-card .event-img .sm-img {
  width: 40px;
  height: 40px;
}

.fes-card .event-detail p.location {
  color: var(--color-grey-dark);
  margin-top: 5px;
}

.market-card {
  margin-top: 12px;
}

.market-card .market-location {
  color: var(--color-grey-dark);
}

.market-card .market-location .property {
  color: #3F9618;
}

.market-event-card {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.market-event-card .event-detail {
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
}

.market-event-card .event-img a {
  width: 40px;
  height: 40px;
  display: block;
}

.market-event-card .sm-img {
  width: 40px;
  height: 40px;
}

.poll-card .poll-img {
  height: 40px;
  width: 40px;
}

.poll-card .poll-detail {
  padding-left: 9px;
}

.poll-card .poll-detail h3 {
  margin-bottom: 0px;
}

.m-description {
  font-weight: 500;
  margin-bottom: 5px !important;
}

.theme-light .dark-img {
  display: block;
}

.theme-light .white-img {
  display: none;
}

.theme-dark .dark-img {
  display: none;
}

.theme-dark .white-img {
  display: block;
}

.start-alert {
  color: #3F9618;
  margin-top: 5px;
}

.end-alert {
  color: #FF2700;
  margin-top: 5px;
}

.ceo-heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pa-l-0 {
  padding-left: 0px !important;
}

.pa-r-0 {
  padding-right: 0px !important;
}

.bor-t-b {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.survey .title {
  color: var(--color-dark);
  font-size: 14px;
}

.wishes-icon {
  margin-left: auto;
}

.profile-icon {
  width: 50px;
}

.templates-footer {
  bottom: -276px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.template-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 15px 0px;
  position: relative;
  z-index: 100;
  width: 100%;
  background: #fff;
}

.template-gallery .templates {
  margin-bottom: 15px;
}

.template-btn {
  position: absolute;
  right: 15px;
  top: -56px;
}

.template-btn button {
  border: 1px solid var(--color-border);
  border-radius: 30px;
  font-size: 12px;
  padding: 5px 25px;
  background: transparent;
  color: var(--color-dark);
}

.group-list h6 {
  font-size: 14px;
}

.ceo-speaks p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-location {
  font-size: 14px !important;
  color: var(--color-grey-dark) !important;
  margin-top: 2px !important;
}

/* comments */
.write-comments {
  position: fixed;
  bottom: 0px;
  -webkit-box-shadow: 0 4px 12px black;
          box-shadow: 0 4px 12px black;
  width: 100%;
  background: var(--color-bg);
  z-index: 10;
}

.write-comments .comment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 15px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.write-comments .comment-wrapper .write-data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 10px;
}

.write-comments .comment-wrapper .write-data textarea {
  width: 100%;
  max-height: 42px;
  border: none;
  padding-top: 10px;
  font-size: 14px;
  padding-left: 15px;
}

.write-comments .comment-wrapper .write-data textarea:focus {
  outline: none;
}

.write-comments .comment-wrapper .submit-comments button {
  border: none;
  background: transparent;
  opacity: 0.3;
}

/* corrections :: END */
/*# sourceMappingURL=style2.css.map */