.theme-light {
    --color-bg2: #ffffff;
    --color-grey2: #4B4B4B;
    --appointment-lbl: #4b4b4b;
    --remove-participant: #636363;
    --job-list: var(--bg-grey);
    --sop: #EEEEEE;
    --form-abel: #242323;
    --form-border: #FDFDFD;
    --model-link: #4b4b4b;
    --appointment: #E8E8E8;
}
.theme-dark {
    --color-bg2: #000000;
    --appointment-lbl: #ffffff;
    --remove-participant: #ffffff;
    --job-list: #000000;
    --sop: #444444;
    --form-abel: #ffffff;
    --form-border: #fff;
    --model-link: #ffffff;
    --appointment: #4b4b4b;
}
input{
    &:focus{
        outline: none;
    }
}
.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block;
}
.flex{
    display: flex;
}
.fw-w{
    flex-wrap: wrap;
}
.item-center{
    align-items: center;
}
.item-center-x{
    justify-content: center;
}
.e-center{
    margin: 0 auto;
    display: block;
}
.pull-right{
    float: right;
}
.bg-ligt{
    background-color: #ffffff;
}
.glow1{
    flex-grow: 1;
}
.btn{
    font-size: 14px;
    padding: 4px 19px;
    border-radius: 20px;
    &:focus{
        outline: none;
    }
}
.padd0{
    padding: 0 !important;
}
.radius0{
    border-radius: 0 !important;
}
.modal-dialog{
    margin: 1rem;
}
.point-list{
    padding-left: 28px;
    li{
        margin-bottom: 1rem;
        position: relative;
        &::before{
            content: "";
            width: 6px;
            height: 6px;
            background-color: var(--color-orange);
            position: absolute;
            left: -19px;
            border-radius: 50%;
            top: 6px;
        }
    }
}
.btn-primary{
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    color: #ffffff;
    &:hover, &:focus{
        color: #ffffff;
    }
}
.btn-transparent{
    border: 1px solid #757575;
    color: var(--color-dark);
    &:hover, &:focus{
        color: var(--color-dark);
    }
}
.btn-link{
    display: block;
}
.list-inline{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        display: inline-block;
    }
}
.list-block{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        display: block;
    }
}
// Heder :: Start
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 0 15px;
    align-items: center;
    background-color: var(--color-bg);
    z-index: 9;
    .el-eft{
        img{
            height: 30px;
        }
        .back{
            a{
                color: var(--color-dark);
                &:hover, &:focus{
                    color: var(--color-dark);
                }
            }
        }
    }
    div:nth-child(2){
        flex-grow: 1;
    }
    .page-tit{
        padding-left: 20px;
        p{
            font-size: 18px;
            margin: 0;
            font-weight: 500;
        }
    }
    .head-icon{
        padding-left: 20px;
        padding: 20px;
    }
    .icon-h{
        position: relative;
        .icon{
            font-size: 18px;
        }
        .notify{
            position: absolute;
            width: 14px;
            height: 14px;
            background-color: #ff8a00;
            color: #fff;
            font-size: 10px;
            border-radius: 50%;
            text-align: center;
            padding: 2px 0;
            top: -6px;
            right: -5px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        }
    }
    .icon-h-rotate{
        transform: rotate(180deg);
    }
}
// Heder :: End
// Heder :: START
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 0 0px;
    background-color: var(--color-bg);
    z-index: 9;
    .ft-content{
        display: flex;
        height: 40px;
        align-items: center;
        .ft{
            width: 20%;
            text-align: center;
            a{
                color: var(--color-grey-ligt);
                display: block;
                padding: 9px 0;
                margin: 0 auto;
                
                    font-size: 20px;
                
            }
        }
        .active{
            a{
                color: var(--color-grey2) !important; 
            }
        }
    }
    .add-btn{
        position: absolute;
        bottom: 13px;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        width: 50px;
        background-color: var(--color-orange);
        color: var(--color-light);
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 22px;
        padding: 13px 0;
    }
}
// Heder :: END

// Ripple Effect :: START
.material-ripple {
    position: relative;
    overflow: hidden;
    -webkit-transform: translatez(0);
    transform: translatez(0);
  }
  
  .material-ink {
    display: block;
    position: absolute;
    background: var(--color-ripple);
    border-radius: 50%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  
  .material-ink-animate {
    -webkit-animation: ripple 0.5s linear;
    animation: ripple 0.5s linear;
  }
  
  @-webkit-keyframes ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  }
  @keyframes ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  }
// Ripple Effect :: END
// Jobs :: START

.job-list{
    background-color: var(--job-list);
}
.job{
    background-color: var(--color-bg);
    padding-top: 10px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    padding: 16px 15px 0;
    h3{
        color: var(--color-dark);
    }
    .job-info-col{
        width: 33.33%;
        .job-info{
            font-size: 11px;
            padding: 12px 0;
            color: var(--color-dark);
            font-weight: 500;
            span{
                color: var(--color-orange);
                margin-right: 3px;
            }
        }
        &:first-child{
            padding-left: 15px;
        }
        &:last-child{
            padding-right : 15px;
        }
    }
}
.job-foot{
    border-top: 1px solid var(--color-border);
    padding: 3px 0px;
    .date{
        flex-grow: 1;
        p{
            margin: 0;
        }
    }
    .icon{
        font-size: 18px;
        margin-left: 5px;
        padding: 7px 7px;
    }
}
// Refer Friend
.job-apply{
    background-color: var(--color-bg);
    padding-top: 10px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    padding: 12px 15px;
    .user{
        color: var(--color-orange);
        font-size: 20px;
        margin-right: 10px;
    }
    .applied{
        p{
            font-size: 11px;
            margin: 0;
            color: var(--color-blue);
        }
    }
    .option{
        margin-left: 10px;
        padding-top: 3px;
        font-size: 17px;
    }
}
//Job Details
.job-details{
    .education{
        .course{
            width: 20px;
            p{
                color: var(--color-grey-dark);
            }
        }
        .course-text{
            width: calc(100% - 20px);
        }
    }
}
.job-description{
    p{
        margin-bottom: .5rem;
        span{
            color: var(--color-grey-dark); 
        }
    }
}
//Jobs :: END

// Employee Search :: START
.head-filter{
    box-shadow: none;
    height: auto;
    border-bottom: 1px solid var(--color-border);
    padding-top: 10px;
    padding-bottom: 4px;
    .head-icon{
        padding: 5px 5px;
    }
}

.es-tab{
    ul{
        li{
            a{
                font-size: 16px;
                color: var(--color-grey-ligt);
                padding: 0 7px 9px;
            }
            a.active{
                border-bottom: 3px solid var(--color-orange);
                color: var(--color-dark);
            }
        }
    }
}
.ep-option{
    padding: 20px 0 10px;
    position: fixed !important;
    top: 42px;
    background-color: var(--color-bg);
    left: 0;
    width: 100%;
    z-index: 1;
    .people-option-content{
        .sear-w{
            // background-color: #F5F5F5;
            border: 1px solid #bdbcbc;
            height: 35px;
            border-radius: 30px;
            padding: 5px 12px;
            
            
            .mick{
                border-left: 1px solid var(--color-border);
                padding: 3px 0 3px 8px;
            }
            .filter{
                padding-right: 8px;
            }
            .icon{
                font-size: 16px;
            }
            .input{
                input{
                    height: 20px;
                    margin-left: 11px;
                    width: 90%;
                    background: none;
                    border: none;
                    font-size: 12px;
                    display: block;
                    color: var(--color-dark);
                    &:hover, &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
    .team-option-content{
        .sear-w-l{
            padding-right: 15px;
            width: 50%;
        }
        .sear-w-r{
            padding-left: 15px;
            width: 50%;
        }
        .sear-w{
            // background-color: #F5F5F5;
            border: 1px solid #bdbcbc;
            height: 35px;
            border-radius: 30px;
            padding: 5px 12px;
            p{
                margin-bottom: 0;
                font-size: 14px;
                margin-right: 10px;
                font-weight: 500;
            }
            .icon{
                font-weight: 500;
            }
        }
    }
    .es-result{
        color: var(--color-grey-ligt);
    }
}
.employee-list{
    margin-top: 83px;
    ul{
        li{
            padding: 15px 15px 15px;
            border-bottom: 1px solid #E6E6E6;
            &:last-child{
                margin-bottom: 40px;
            }
        }
    }
    .emp-img{
        margin-right: 10px;
        img{
            width: 40px;
        }
    }
    .emp-option{
       .call{
           width: 24px;
           height: 24px;
           border-radius: 50%;
           border: 1px solid #bdbcbc;
            background-color: #E8E8E8;
            padding: 2px 5px;
            font-size: 14px;
            margin-bottom: 15px;
            span{
                color: var(--color-blue);
            }
        } 
    }
    .emp-text{
        h3{
            margin-bottom: 2px;
        }
        p{
            margin-bottom: 0;
            color: var(--color-grey-ligt);
            line-height: 1.2;
        }
    }
    .follow-status{
        .btn{
            height: 20px;
            font-size: 11px;
            width: 60px;
            padding: 2px 0px;
        }
        .follow{
            border: 1px solid var(--color-orange);
            height: 20px;
            font-size: 11px;
            background-color: var(--color-orange);
            color: #fff;
        }
        .following{
            color: var(--color-grey-ligt);
            border: 1px solid var(--color-grey-ligt);
            background-color: transparent;
        }
    }
}
// Advanced Search
.modal-ad-sarch{
    margin: 0 auto;
    max-width: 270px;
}
.advancced-search{
    .as-head{
        padding: 15px 15px 3px;
        border-bottom: 1px solid var(--color-border);
        p{
            font-size: 15px;
            color: var(--color-grey-ligt);
        }
        .c-all{
            color: red;
        }
    }
    .as-body{
        .form-group{
            label{
                color: var(--color-grey-ligt);
                font-size: 12px;
                margin-bottom: 3px;
                padding: 0 11px;
            }
            .form-control{
                height: 35px;
                border: 1px solid #B8B6B6;
                border-radius: 30px;
                width: 100%;
                box-shadow: 0 5px 6px rgba(0, 0, 0, .12);
                padding: 2px 11px;
                background-color: transparent;
                color: var(--color-dark);
            }
        }
    }
    .as-footer{
        border-top: 1px solid #B8B6B6;
        border-bottom: 1px solid #B8B6B6;
        .as-close{
            color: var(--color-dark);
        }
        .as-close, .as-apply{
            text-align: center;
            width: 50%;
            padding: 8px 0;
            font-size: 16px;
        }
        .as-apply{
            border-left: 1px solid #B8B6B6;
            color: var(--color-blue);
        }
    }
}
// Employee Search :: END
// Corporate Doctor :: END
.corporate-doctor{
    padding: 0 0 0;
    .appointment{
        padding: 15px 30px 17px;
        border-bottom: 1px solid var(--color-border);
        h2{
            color: var(--appointment-lbl);
        }
        .vs-date{
            background-color: #4B4B4B;
            height: 44px;
            color: #fff;
            border-radius: 30px;
            padding: 11px 0;
        }
    }
}
.applied-people-list{
    ul{
        li{
            padding: 10px 15px;
            border-bottom: 1px solid var(--color-border);
            .pp-list{
                .people-img{
                    width: 40px;
                    img{
                        height: 40px;
                        width: 40px;
                    }
                }
                .info{
                    width: calc(100% - 60px);
                    padding-left: 15px;
                    padding-right: 55px;
                    h3{
                        margin-bottom: 0px;
                    }
                    p{
                        margin-bottom: 0;
                        color: var(--color-grey-ligt);
                        font-size: 11px;
                    }
                }
                .option{
                    width: 20px;
                    .icon{
                        font-size: 20px;
                    }
                }
            }
            &:last-child{
                margin-bottom: 55px;
            }
        }
    }
}
.doctor-status{
    background-color: var(--color-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 55px;
    padding: 12px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .btn{
        width: 100%;
    }
    .reject{
        border: 1px solid #C80000;
        background-color: #C80000;
        color: #ffffff;
    }
    .approve{
        border: 1px solid #006400;
        background-color: #006400;
        color: #ffffff;
    }
}
.book-appoinment{
    padding: 10px 15px;
    label{
        color: var(--color-grey-ligt);
        font-size: 12px;
        margin-bottom: 0;
    }
    textarea{
        background-color: var(--appointment);
        width: 100%;
        height: 110px;
        border: none;
        resize: none;
        padding: 10px;
        color: var(--color-dark);
        &:focus{
            outline: none;
        }
    }
}
.bb-none{
    border-bottom: none !important;
}
// Corporate Doctor :: END
// Insurance :: StART
.insurance{
    margin: 30px;
    border: 1px solid var(--color-border);
    .download{
        background-color: #E8E8E8;
        padding: 10px;
        a{
            font-size: 30px;
        }
        .network{
            color: var(--color-blue);
        }
    }
    .assured{
        padding: 15px 0 10px;
        p{
            color: var(--color-grey-ligt);
        }
        h2{
            font-weight: 600;
        }
    }
}
.insurance-contact{
    h2{
        margin-bottom: 0;
        border-bottom: 1px solid var(--color-border);
        color: var(--color-grey-ligt);
        padding: 0 30px;
    }
    .contact{
        padding: 15px 030px;
        border-bottom: 1px solid var(--color-border);
        h3{
            font-weight: 600;
        }
        .call{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #bdbcbc;
            background-color: #E8E8E8;
            padding: 2px 5px;
            font-size: 14px;
            span{
                color: var(--color-blue);
            }
        }
    }
}
// Insurance :: END
// contact-info :: STRT
.contact-info{
    padding: 20px 20px;
}
.form-group-material{
    position: relative;
    label{
        color: var(--color-dark);
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease;
        float: left;
        left: 0;
    }
    .form-control-material{
        border-width: 0 0 2px 0;
        margin-bottom: 12px;
        width: 100%;
        border-color: var(--color-border);
        margin-top: 10px;
        height: 32px;
        background: transparent;
        font-size: 16px;
        
    }
    &:after{
        content: "";
        position: absolute;
        width: 0%;
        bottom: 12px;
        height: 2px;
        background-color: #000000;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s ease-in-out;
    }
}
.form-control-material-focused{
    label{
        transform: scale(1) translate(0%, -140%);
        transition: all 0.3s ease;
        font-size: 12px;
        padding: 2px 0;
    }
    .form-control-material{
        color: var(--color-grey-ligt);
        position: relative;
        border-color: var(--color-border);
        border-width: 0 0 2px 0;
        background: transparent;
    }
    &:after{
        width: 100%;
        transition: .3s ease-in-out;
    }
}
// contact Info :: STRT

// Settings :: START
.settings{
    padding: 10px 15px 0;
    li{
        padding: 13px 0 13px;
        .sub-tit{
            font-size: 13px;
        }
        .aet{
            font-size: 13px;
            color: var(--color-grey-ligt);
        }
        .text{
            p{
                margin: 0;
                font-size: 14px;
                line-height: 1;
                padding-top: 2px;
            }
        }
        .switcher{
            margin-bottom: -5px;
        }
    }
    .bb{
        border-bottom: 1px solid var(--color-border);
    }
    .pb-0{
        padding-bottom: 0;
    }
}
.storage{
    padding: 22px 0;
    position: relative;
   .progress{
        background-color: #CED0D1;
        .progress-bar {
            width: 0%;
            height: 10px;
            font-size: 12px;
            line-height: 20px;
            color: #fff;
            text-align: center;
            background-color: var(--color-blue);
            -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            -webkit-transition: width .6s ease;
            -o-transition: width .6s ease;
            transition: width .6s ease;
        }
   }
   .progres-status{
       position: absolute;
       margin: 0;
       font-size: 13px;
       color: var(--color-grey-ligt);
   }
   .store{
    top: 0;
    left: 0;
   }
   .free{
    top: 0;
    right: 0;
   }
   .used{
    bottom: 0;
    left: 0;
   }
}

// Settings :: END
// Group :: START
.group-list{
    margin: 5px 15px 0;
    ul{
        li{
            border-bottom: 1px solid var(--color-border);
            padding: 12px 3px 12px;
        }
    }
    .group-text{
        padding-left: 10px;
        h6{
            margin-bottom: 0;
        }
        p{
            color: var(--color-grey-ligt);
            margin-bottom: 0;
        }
    }
    .group-option{
        .icon{
            font-size: 18px;
        }
        label{
            margin-bottom: 0;
        }
    }
}
// Add Participant
.icon-tick .icon{
    color: var(--color-blue);
}
.participant-list{
    padding: 45px 0 0;
}
.participants-option{
    padding: 0px 0 15px;
    position: fixed !important;
    top: 60px;
    background-color: var(--color-bg);
    left: 0;
    width: 100%;
    z-index: 1;
    .participants-option-content{
        .sear-w{
            // background-color: #F5F5F5;
            border: 1px solid #bdbcbc;
            height: 35px;
            border-radius: 30px;
            padding: 5px 12px;
            
            .mick{
                border-left: 1px solid var(--color-border);
                padding: 3px 0 3px 8px;
            }
            .filter{
                padding-right: 8px;
            }
            .icon{
                font-size: 16px;
            }
            .input{
                input{
                    height: 20px;
                    margin-left: 11px;
                    width: 90%;
                    background: none;
                    border: none;
                    font-size: 12px;
                    display: block;
                    color: var(--color-dark);
                    &:hover, &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}
.participant{
    ul{
        li{
            border-bottom: none;
            text-align: center;
            position: relative;
            margin-right: 20px;
            padding: 0 0;
            img{
                width: 38px;
            }
            p{
                margin-bottom: 0;
            }
            .remove-participant{
                position: absolute;
                top: -6px;
                right: -8px;
                font-size: 20px;
                color: var(--remove-participant);
            }
        }
    }
}
.group-details{
    padding: 20px 20px 25px;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 17px;
    .gr-img{
        width: 40px;
        .gr-img-w{
            width: 38px;
            height: 38px;
            background-color: #F5F4F4;
            color: var(--color-blue);
            font-size: 20px;
            border-radius: 50%;
            padding: 8px 0;
            text-align: center;
            border: 1px solid #DFDFDF;
        }
    }
    .gr-name{
        padding-left: 10px;
        width: calc(100% - 40px);
        input{
            border: none;
            border-bottom: 1px solid var(--color-border);
            border-top: 1px solid var(--color-border);
            background-color: transparent;
            height: 35px;
            width: 100%;
            color: var(--color-dark);
        }
    }
}
// Group :: END

// Model Dialouge :: START
.modal-dialog{
    max-width: none;
}
.modal-body{
    position: relative;
    .close{
        font-size: 15px;
        position: absolute;
        top: 8px;
        right: 10px;
        z-index: 1;
        color: var(--color-dark);
    }
}
.modal-dialog-small{
    max-width: 132px;
    margin: 0 auto;
}
.model-link{
    a{
        display: block;
        color: var(--model-link);
        padding: 12px 15px;
        font-weight: 500;
    }
}
.model-form{
    padding: 35px 15px;
    .form-group{
        position: relative;
        label{
            font-size: 14px;
            color: var(--form-abel);
            font-weight: 500;
        }
        .form-control{
            border-radius: 4px;
            height: 30px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: var(--form-border);
            padding: 0 10px;
            margin: 0 0 14px;
            height: 35px;
            height: 35px;
            border: 1px solid var(--form-abel);
            width: 100%;
            background-color: transparent;
            color: var(--color-dark);
        }
    }
}
.file-upload{
    label{
        font-size: 12px;
        color: var(--color-dark);
        font-weight: 600;
        .attac-icon{
            color: var(--color-blue);
            font-size: 20px;
            transform: rotate(-42deg);
        }
    }
    input{
        display: none;
    }
    .uploaded-file{
        color: var(--color-blue);
        font-size: 11px;
        margin-bottom: 0;
    }
}
// Share Option
.share-option{
    background-color: var(--sop);
    padding: 20px;
    .share{
        width: 55px;
    }
}
// Model Dialouge :: END

.shadow-b{
    box-shadow: 0 0 17px rgba(0, 0, 0, .12);
    position: relative;
}


/* Checkmark style :: starts */

@keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: 10px;  }
}

@keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 20px; }
}

.cb input[type=checkbox]{
    display:none;
}
.cb-wrap{
    padding: 30px 15px;
    .cb{
        margin-bottom: 30px;
        position: relative;
        &:last-child{
            margin-bottom: 0px;
        }
    }
}

.check-box {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid var(--color-grey-dark);
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: border-color ease .4;
    cursor:pointer;
    padding: 0 !important;
    margin-bottom: 0 !important;
    span{
        position: absolute;
        left: 30px;
        font-size: 18px;
        top: -4px;
        color: var(--color-grey-dark);
        width: 200px;
        max-width: 200px;
    }
    &::before, &::after {
        position: absolute;
        height: 0;
        width: 2px;
        background-color: var(--color-dark);
        display: inline-block;
        transform-origin: left top;
        content: ' ';
        transition: opacity ease .5;
    }

    &::before {
        top: 12.4px;
        left: 9.2px;
        box-shadow: 0 0 0 2px #fff;
        transform: rotate(-143deg);
    }

    &::after {
        top: 7.4px;
        left: 3px;
        transform: rotate(-45deg);
    }
}

.cb input[type=checkbox]:checked + .check-box,
.check-box.checked{
    border-color: var(--color-dark);
    span{
        color: #000000;
    }
    &::after{
        height: 0;
        animation: dothabottomcheck .4 ease 0s forwards;
    }
     
    &::before{
        height: 0px;
        animation: dothatopcheck .4s ease 0s forwards;
    }
}
/* Checkmark style :: END */

// Switc :: Style
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
    margin-bottom: 0;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ADB2B5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: -2px;
    background-color: #8A8B8B;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
 .bb input:checked + .slider {
    background-color: #2196F3;
  }
  
  
  .bb input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .bb input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .bb input:checked + .slider:before{
    background-color: #1181CB;
    left: -5px;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
// Switc :: Style

.shadow-none{
    box-shadow: none !important;
}
.theme-dark{
    .modal-content{
        background-color: #303030;
    }
    .check-box::before{
        box-shadow: 0 0 0 2px #303030;
    }
    .cb input[type=checkbox]:checked + .check-box span, .check-box.checked span {
        color: #fffdfd;
    }
    .ep-option .people-option-content .sear-w .input input::placeholder{
        color: #ffffff;
    }
    footer .ft-content .ft a {
        color: #b5b4b4;
    }
    footer .ft-content .active a {
        color: #ffffff !important;
    }
}