.theme-light {
  --color-bg2: #ffffff;
  --color-grey2: #4B4B4B;
  --appointment-lbl: #4b4b4b;
  --remove-participant: #636363;
  --job-list: var(--bg-grey);
  --sop: #EEEEEE;
  --form-abel: #242323;
  --form-border: #FDFDFD;
  --model-link: #4b4b4b;
  --appointment: #E8E8E8;
}

.theme-dark {
  --color-bg2: #000000;
  --appointment-lbl: #ffffff;
  --remove-participant: #ffffff;
  --job-list: #000000;
  --sop: #444444;
  --form-abel: #ffffff;
  --form-border: #fff;
  --model-link: #ffffff;
  --appointment: #4b4b4b;
}

input:focus {
  outline: none;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-center-x {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.e-center {
  margin: 0 auto;
  display: block;
}

.pull-right {
  float: right;
}

.bg-ligt {
  background-color: #ffffff;
}

.glow1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn {
  font-size: 14px;
  padding: 4px 19px;
  border-radius: 20px;
}

.btn:focus {
  outline: none;
}

.padd0 {
  padding: 0 !important;
}

.radius0 {
  border-radius: 0 !important;
}

.modal-dialog {
  margin: 1rem;
}

.point-list {
  padding-left: 28px;
}

.point-list li {
  margin-bottom: 1rem;
  position: relative;
}

.point-list li::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--color-orange);
  position: absolute;
  left: -19px;
  border-radius: 50%;
  top: 6px;
}

.btn-primary {
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus {
  color: #ffffff;
}

.btn-transparent {
  border: 1px solid #757575;
  color: var(--color-dark);
}

.btn-transparent:hover, .btn-transparent:focus {
  color: var(--color-dark);
}

.btn-link {
  display: block;
}

.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline li {
  display: inline-block;
}

.list-block {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-block li {
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-bg);
  z-index: 9;
}

header .el-eft img {
  height: 30px;
}

header .el-eft .back a {
  color: var(--color-dark);
}

header .el-eft .back a:hover, header .el-eft .back a:focus {
  color: var(--color-dark);
}

header div:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .page-tit {
  padding-left: 20px;
}

header .page-tit p {
  font-size: 18px;
  margin: 0;
  font-weight: 500;
}

header .head-icon {
  padding-left: 20px;
  padding: 20px;
}

header .icon-h {
  position: relative;
}

header .icon-h .icon {
  font-size: 18px;
}

header .icon-h .notify {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ff8a00;
  color: #fff;
  font-size: 10px;
  border-radius: 50%;
  text-align: center;
  padding: 2px 0;
  top: -6px;
  right: -5px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

header .icon-h-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0 0px;
  background-color: var(--color-bg);
  z-index: 9;
}

footer .ft-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .ft-content .ft {
  width: 20%;
  text-align: center;
}

footer .ft-content .ft a {
  color: var(--color-grey-ligt);
  display: block;
  padding: 9px 0;
  margin: 0 auto;
  font-size: 20px;
}

footer .ft-content .active a {
  color: var(--color-grey2) !important;
}

footer .add-btn {
  position: absolute;
  bottom: 13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 50px;
  width: 50px;
  background-color: var(--color-orange);
  color: var(--color-light);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 22px;
  padding: 13px 0;
}

.material-ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translatez(0);
  transform: translatez(0);
}

.material-ink {
  display: block;
  position: absolute;
  background: var(--color-ripple);
  border-radius: 50%;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.material-ink-animate {
  -webkit-animation: ripple 0.5s linear;
  animation: ripple 0.5s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.job-list {
  background-color: var(--job-list);
}

.job {
  background-color: var(--color-bg);
  padding-top: 10px;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  padding: 16px 15px 0;
}

.job h3 {
  color: var(--color-dark);
}

.job .job-info-col {
  width: 33.33%;
}

.job .job-info-col .job-info {
  font-size: 11px;
  padding: 12px 0;
  color: var(--color-dark);
  font-weight: 500;
}

.job .job-info-col .job-info span {
  color: var(--color-orange);
  margin-right: 3px;
}

.job .job-info-col:first-child {
  padding-left: 15px;
}

.job .job-info-col:last-child {
  padding-right: 15px;
}

.job-foot {
  border-top: 1px solid var(--color-border);
  padding: 3px 0px;
}

.job-foot .date {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.job-foot .date p {
  margin: 0;
}

.job-foot .icon {
  font-size: 18px;
  margin-left: 5px;
  padding: 7px 7px;
}

.job-apply {
  background-color: var(--color-bg);
  padding-top: 10px;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  padding: 12px 15px;
}

.job-apply .user {
  color: var(--color-orange);
  font-size: 20px;
  margin-right: 10px;
}

.job-apply .applied p {
  font-size: 11px;
  margin: 0;
  color: var(--color-blue);
}

.job-apply .option {
  margin-left: 10px;
  padding-top: 3px;
  font-size: 17px;
}

.job-details .education .course {
  width: 20px;
}

.job-details .education .course p {
  color: var(--color-grey-dark);
}

.job-details .education .course-text {
  width: calc(100% - 20px);
}

.job-description p {
  margin-bottom: .5rem;
}

.job-description p span {
  color: var(--color-grey-dark);
}

.head-filter {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  border-bottom: 1px solid var(--color-border);
  padding-top: 10px;
  padding-bottom: 4px;
}

.head-filter .head-icon {
  padding: 5px 5px;
}

.es-tab ul li a {
  font-size: 16px;
  color: var(--color-grey-ligt);
  padding: 0 7px 9px;
}

.es-tab ul li a.active {
  border-bottom: 3px solid var(--color-orange);
  color: var(--color-dark);
}

.ep-option {
  padding: 20px 0 10px;
  position: fixed !important;
  top: 42px;
  background-color: var(--color-bg);
  left: 0;
  width: 100%;
  z-index: 1;
}

.ep-option .people-option-content .sear-w {
  border: 1px solid #bdbcbc;
  height: 35px;
  border-radius: 30px;
  padding: 5px 12px;
}

.ep-option .people-option-content .sear-w .mick {
  border-left: 1px solid var(--color-border);
  padding: 3px 0 3px 8px;
}

.ep-option .people-option-content .sear-w .filter {
  padding-right: 8px;
}

.ep-option .people-option-content .sear-w .icon {
  font-size: 16px;
}

.ep-option .people-option-content .sear-w .input input {
  height: 20px;
  margin-left: 11px;
  width: 90%;
  background: none;
  border: none;
  font-size: 12px;
  display: block;
  color: var(--color-dark);
}

.ep-option .people-option-content .sear-w .input input:hover, .ep-option .people-option-content .sear-w .input input:focus {
  outline: none;
}

.ep-option .team-option-content .sear-w-l {
  padding-right: 15px;
  width: 50%;
}

.ep-option .team-option-content .sear-w-r {
  padding-left: 15px;
  width: 50%;
}

.ep-option .team-option-content .sear-w {
  border: 1px solid #bdbcbc;
  height: 35px;
  border-radius: 30px;
  padding: 5px 12px;
}

.ep-option .team-option-content .sear-w p {
  margin-bottom: 0;
  font-size: 14px;
  margin-right: 10px;
  font-weight: 500;
}

.ep-option .team-option-content .sear-w .icon {
  font-weight: 500;
}

.ep-option .es-result {
  color: var(--color-grey-ligt);
}

.employee-list {
  margin-top: 83px;
}

.employee-list ul li {
  padding: 15px 15px 15px;
  border-bottom: 1px solid #E6E6E6;
}

.employee-list ul li:last-child {
  margin-bottom: 40px;
}

.employee-list .emp-img {
  margin-right: 10px;
}

.employee-list .emp-img img {
  width: 40px;
}

.employee-list .emp-option .call {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #bdbcbc;
  background-color: #E8E8E8;
  padding: 2px 5px;
  font-size: 14px;
  margin-bottom: 15px;
}

.employee-list .emp-option .call span {
  color: var(--color-blue);
}

.employee-list .emp-text h3 {
  margin-bottom: 2px;
}

.employee-list .emp-text p {
  margin-bottom: 0;
  color: var(--color-grey-ligt);
  line-height: 1.2;
}

.employee-list .follow-status .btn {
  height: 20px;
  font-size: 11px;
  width: 60px;
  padding: 2px 0px;
}

.employee-list .follow-status .follow {
  border: 1px solid var(--color-orange);
  height: 20px;
  font-size: 11px;
  background-color: var(--color-orange);
  color: #fff;
}

.employee-list .follow-status .following {
  color: var(--color-grey-ligt);
  border: 1px solid var(--color-grey-ligt);
  background-color: transparent;
}

.modal-ad-sarch {
  margin: 0 auto;
  max-width: 270px;
}

.advancced-search .as-head {
  padding: 15px 15px 3px;
  border-bottom: 1px solid var(--color-border);
}

.advancced-search .as-head p {
  font-size: 15px;
  color: var(--color-grey-ligt);
}

.advancced-search .as-head .c-all {
  color: red;
}

.advancced-search .as-body .form-group label {
  color: var(--color-grey-ligt);
  font-size: 12px;
  margin-bottom: 3px;
  padding: 0 11px;
}

.advancced-search .as-body .form-group .form-control {
  height: 35px;
  border: 1px solid #B8B6B6;
  border-radius: 30px;
  width: 100%;
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 6px rgba(0, 0, 0, 0.12);
  padding: 2px 11px;
  background-color: transparent;
  color: var(--color-dark);
}

.advancced-search .as-footer {
  border-top: 1px solid #B8B6B6;
  border-bottom: 1px solid #B8B6B6;
}

.advancced-search .as-footer .as-close {
  color: var(--color-dark);
}

.advancced-search .as-footer .as-close, .advancced-search .as-footer .as-apply {
  text-align: center;
  width: 50%;
  padding: 8px 0;
  font-size: 16px;
}

.advancced-search .as-footer .as-apply {
  border-left: 1px solid #B8B6B6;
  color: var(--color-blue);
}

.corporate-doctor {
  padding: 0 0 0;
}

.corporate-doctor .appointment {
  padding: 15px 30px 17px;
  border-bottom: 1px solid var(--color-border);
}

.corporate-doctor .appointment h2 {
  color: var(--appointment-lbl);
}

.corporate-doctor .appointment .vs-date {
  background-color: #4B4B4B;
  height: 44px;
  color: #fff;
  border-radius: 30px;
  padding: 11px 0;
}

.applied-people-list ul li {
  padding: 10px 15px;
  border-bottom: 1px solid var(--color-border);
}

.applied-people-list ul li .pp-list .people-img {
  width: 40px;
}

.applied-people-list ul li .pp-list .people-img img {
  height: 40px;
  width: 40px;
}

.applied-people-list ul li .pp-list .info {
  width: calc(100% - 60px);
  padding-left: 15px;
  padding-right: 55px;
}

.applied-people-list ul li .pp-list .info h3 {
  margin-bottom: 0px;
}

.applied-people-list ul li .pp-list .info p {
  margin-bottom: 0;
  color: var(--color-grey-ligt);
  font-size: 11px;
}

.applied-people-list ul li .pp-list .option {
  width: 20px;
}

.applied-people-list ul li .pp-list .option .icon {
  font-size: 20px;
}

.applied-people-list ul li:last-child {
  margin-bottom: 55px;
}

.doctor-status {
  background-color: var(--color-light);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 55px;
  padding: 12px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.doctor-status .btn {
  width: 100%;
}

.doctor-status .reject {
  border: 1px solid #C80000;
  background-color: #C80000;
  color: #ffffff;
}

.doctor-status .approve {
  border: 1px solid #006400;
  background-color: #006400;
  color: #ffffff;
}

.book-appoinment {
  padding: 10px 15px;
}

.book-appoinment label {
  color: var(--color-grey-ligt);
  font-size: 12px;
  margin-bottom: 0;
}

.book-appoinment textarea {
  background-color: var(--appointment);
  width: 100%;
  height: 110px;
  border: none;
  resize: none;
  padding: 10px;
  color: var(--color-dark);
}

.book-appoinment textarea:focus {
  outline: none;
}

.bb-none {
  border-bottom: none !important;
}

.insurance {
  margin: 30px;
  border: 1px solid var(--color-border);
}

.insurance .download {
  background-color: #E8E8E8;
  padding: 10px;
}

.insurance .download a {
  font-size: 30px;
}

.insurance .download .network {
  color: var(--color-blue);
}

.insurance .assured {
  padding: 15px 0 10px;
}

.insurance .assured p {
  color: var(--color-grey-ligt);
}

.insurance .assured h2 {
  font-weight: 600;
}

.insurance-contact h2 {
  margin-bottom: 0;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-grey-ligt);
  padding: 0 30px;
}

.insurance-contact .contact {
  padding: 15px 030px;
  border-bottom: 1px solid var(--color-border);
}

.insurance-contact .contact h3 {
  font-weight: 600;
}

.insurance-contact .contact .call {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #bdbcbc;
  background-color: #E8E8E8;
  padding: 2px 5px;
  font-size: 14px;
}

.insurance-contact .contact .call span {
  color: var(--color-blue);
}

.contact-info {
  padding: 20px 20px;
}

.form-group-material {
  position: relative;
}

.form-group-material label {
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: left;
  left: 0;
}

.form-group-material .form-control-material {
  border-width: 0 0 2px 0;
  margin-bottom: 12px;
  width: 100%;
  border-color: var(--color-border);
  margin-top: 10px;
  height: 32px;
  background: transparent;
  font-size: 16px;
}

.form-group-material:after {
  content: "";
  position: absolute;
  width: 0%;
  bottom: 12px;
  height: 2px;
  background-color: #000000;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.form-control-material-focused label {
  -webkit-transform: scale(1) translate(0%, -140%);
          transform: scale(1) translate(0%, -140%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 12px;
  padding: 2px 0;
}

.form-control-material-focused .form-control-material {
  color: var(--color-grey-ligt);
  position: relative;
  border-color: var(--color-border);
  border-width: 0 0 2px 0;
  background: transparent;
}

.form-control-material-focused:after {
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.settings {
  padding: 10px 15px 0;
}

.settings li {
  padding: 13px 0 13px;
}

.settings li .sub-tit {
  font-size: 13px;
}

.settings li .aet {
  font-size: 13px;
  color: var(--color-grey-ligt);
}

.settings li .text p {
  margin: 0;
  font-size: 14px;
  line-height: 1;
  padding-top: 2px;
}

.settings li .switcher {
  margin-bottom: -5px;
}

.settings .bb {
  border-bottom: 1px solid var(--color-border);
}

.settings .pb-0 {
  padding-bottom: 0;
}

.storage {
  padding: 22px 0;
  position: relative;
}

.storage .progress {
  background-color: #CED0D1;
}

.storage .progress .progress-bar {
  width: 0%;
  height: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: var(--color-blue);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.storage .progres-status {
  position: absolute;
  margin: 0;
  font-size: 13px;
  color: var(--color-grey-ligt);
}

.storage .store {
  top: 0;
  left: 0;
}

.storage .free {
  top: 0;
  right: 0;
}

.storage .used {
  bottom: 0;
  left: 0;
}

.group-list {
  margin: 5px 15px 0;
}

.group-list ul li {
  border-bottom: 1px solid var(--color-border);
  padding: 12px 3px 12px;
}

.group-list .group-text {
  padding-left: 10px;
}

.group-list .group-text h6 {
  margin-bottom: 0;
}

.group-list .group-text p {
  color: var(--color-grey-ligt);
  margin-bottom: 0;
}

.group-list .group-option .icon {
  font-size: 18px;
}

.group-list .group-option label {
  margin-bottom: 0;
}

.icon-tick .icon {
  color: var(--color-blue);
}

.participant-list {
  padding: 45px 0 0;
}

.participants-option {
  padding: 0px 0 15px;
  position: fixed !important;
  top: 60px;
  background-color: var(--color-bg);
  left: 0;
  width: 100%;
  z-index: 1;
}

.participants-option .participants-option-content .sear-w {
  border: 1px solid #bdbcbc;
  height: 35px;
  border-radius: 30px;
  padding: 5px 12px;
}

.participants-option .participants-option-content .sear-w .mick {
  border-left: 1px solid var(--color-border);
  padding: 3px 0 3px 8px;
}

.participants-option .participants-option-content .sear-w .filter {
  padding-right: 8px;
}

.participants-option .participants-option-content .sear-w .icon {
  font-size: 16px;
}

.participants-option .participants-option-content .sear-w .input input {
  height: 20px;
  margin-left: 11px;
  width: 90%;
  background: none;
  border: none;
  font-size: 12px;
  display: block;
  color: var(--color-dark);
}

.participants-option .participants-option-content .sear-w .input input:hover, .participants-option .participants-option-content .sear-w .input input:focus {
  outline: none;
}

.participant ul li {
  border-bottom: none;
  text-align: center;
  position: relative;
  margin-right: 20px;
  padding: 0 0;
}

.participant ul li img {
  width: 38px;
}

.participant ul li p {
  margin-bottom: 0;
}

.participant ul li .remove-participant {
  position: absolute;
  top: -6px;
  right: -8px;
  font-size: 20px;
  color: var(--remove-participant);
}

.group-details {
  padding: 20px 20px 25px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 17px;
}

.group-details .gr-img {
  width: 40px;
}

.group-details .gr-img .gr-img-w {
  width: 38px;
  height: 38px;
  background-color: #F5F4F4;
  color: var(--color-blue);
  font-size: 20px;
  border-radius: 50%;
  padding: 8px 0;
  text-align: center;
  border: 1px solid #DFDFDF;
}

.group-details .gr-name {
  padding-left: 10px;
  width: calc(100% - 40px);
}

.group-details .gr-name input {
  border: none;
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
  background-color: transparent;
  height: 35px;
  width: 100%;
  color: var(--color-dark);
}

.modal-dialog {
  max-width: none;
}

.modal-body {
  position: relative;
}

.modal-body .close {
  font-size: 15px;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1;
  color: var(--color-dark);
}

.modal-dialog-small {
  max-width: 132px;
  margin: 0 auto;
}

.model-link a {
  display: block;
  color: var(--model-link);
  padding: 12px 15px;
  font-weight: 500;
}

.model-form {
  padding: 35px 15px;
}

.model-form .form-group {
  position: relative;
}

.model-form .form-group label {
  font-size: 14px;
  color: var(--form-abel);
  font-weight: 500;
}

.model-form .form-group .form-control {
  border-radius: 4px;
  height: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: var(--form-border);
  padding: 0 10px;
  margin: 0 0 14px;
  height: 35px;
  height: 35px;
  border: 1px solid var(--form-abel);
  width: 100%;
  background-color: transparent;
  color: var(--color-dark);
}

.file-upload label {
  font-size: 12px;
  color: var(--color-dark);
  font-weight: 600;
}

.file-upload label .attac-icon {
  color: var(--color-blue);
  font-size: 20px;
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.file-upload input {
  display: none;
}

.file-upload .uploaded-file {
  color: var(--color-blue);
  font-size: 11px;
  margin-bottom: 0;
}

.share-option {
  background-color: var(--sop);
  padding: 20px;
}

.share-option .share {
  width: 55px;
}

.shadow-b {
  -webkit-box-shadow: 0 0 17px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 17px rgba(0, 0, 0, 0.12);
  position: relative;
}

/* Checkmark style :: starts */
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}

@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 20px;
  }
}

@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 20px;
  }
}

.cb input[type=checkbox] {
  display: none;
}

.cb-wrap {
  padding: 30px 15px;
}

.cb-wrap .cb {
  margin-bottom: 30px;
  position: relative;
}

.cb-wrap .cb:last-child {
  margin-bottom: 0px;
}

.check-box {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid var(--color-grey-dark);
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color ease .4;
  transition: border-color ease .4;
  cursor: pointer;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.check-box span {
  position: absolute;
  left: 30px;
  font-size: 18px;
  top: -4px;
  color: var(--color-grey-dark);
  width: 200px;
  max-width: 200px;
}

.check-box::before, .check-box::after {
  position: absolute;
  height: 0;
  width: 2px;
  background-color: var(--color-dark);
  display: inline-block;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  content: ' ';
  -webkit-transition: opacity ease .5;
  transition: opacity ease .5;
}

.check-box::before {
  top: 12.4px;
  left: 9.2px;
  -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
  -webkit-transform: rotate(-143deg);
          transform: rotate(-143deg);
}

.check-box::after {
  top: 7.4px;
  left: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cb input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: var(--color-dark);
}

.cb input[type=checkbox]:checked + .check-box span,
.check-box.checked span {
  color: #000000;
}

.cb input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 0;
  -webkit-animation: dothabottomcheck .4 ease 0s forwards;
          animation: dothabottomcheck .4 ease 0s forwards;
}

.cb input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: 0px;
  -webkit-animation: dothatopcheck .4s ease 0s forwards;
          animation: dothatopcheck .4s ease 0s forwards;
}

/* Checkmark style :: END */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
  margin-bottom: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ADB2B5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -2px;
  background-color: #8A8B8B;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bb input:checked + .slider {
  background-color: #2196F3;
}

.bb input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.bb input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.bb input:checked + .slider:before {
  background-color: #1181CB;
  left: -5px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.shadow-none {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.theme-dark .modal-content {
  background-color: #303030;
}

.theme-dark .check-box::before {
  -webkit-box-shadow: 0 0 0 2px #303030;
          box-shadow: 0 0 0 2px #303030;
}

.theme-dark .cb input[type=checkbox]:checked + .check-box span, .theme-dark .check-box.checked span {
  color: #fffdfd;
}

.theme-dark .ep-option .people-option-content .sear-w .input input::-webkit-input-placeholder {
  color: #ffffff;
}

.theme-dark .ep-option .people-option-content .sear-w .input input:-ms-input-placeholder {
  color: #ffffff;
}

.theme-dark .ep-option .people-option-content .sear-w .input input::-ms-input-placeholder {
  color: #ffffff;
}

.theme-dark .ep-option .people-option-content .sear-w .input input::placeholder {
  color: #ffffff;
}

.theme-dark footer .ft-content .ft a {
  color: #b5b4b4;
}

.theme-dark footer .ft-content .active a {
  color: #ffffff !important;
}
/*# sourceMappingURL=style1.css.map */