
.theme-light {
    --color-bg: #ffffff;
    --color-bg-sm: #ffffff;
    --color-dark: #000000;
    --color-bdark: #4B4B4B;
    --color-light: #ffffff;
    --color-dark2: #030303;
    --color-light-grey: #737373;
    --color-blue: #1492e6;
    --color-blue-sm: #1492e6;
    --color-blue1: #1492e64a;
    --color-blue2: #1492e624;
    --color-lblue: #A1D4F6;
    --color-ldark: #9A9A9A;
    --color-orange: #FF8A00;
    --color-ripple: #dedede;
    --color-form: #B8B6B6;
    --color-formtext : #8F8F8F;
    --color-form-icon: #C3C3C3;
    --color-shadow: #0000001A;
    --color-shadow1: #0000004D;
    --color-textarea: #E8E8E8;
}
.bg-grey{
    background-color: var(--bg-grey);
}
.bg-white{
    background-color: var(--color-light);
}
.bg-white-sm{
    background-color: var(--color-bg-sm);
}
.theme-dark{
    .bg-white{
        background-color: #303030;
    }
}
.pb-50{
    padding-bottom: 50px;
    @media(max-height:450px){
        padding-bottom:15px;
    }
}
.text-logo{
    color: var(--color-blue-sm);
    font-weight: 300;
    span{
        font-weight: 500; 
    }
}
.logo-icon{
    color: var(--color-blue-sm);
    i{
        font-size: 23px;
    }
    div.icon-EP-Icons_Tik{
        font-size: 19px;
    }
}
.btn-skip{
    color: var(--color-lblue);
    font-size: 14px;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.overflow-wrp{
    overflow: visible!important;
}
.btn-round{
    width: 50px;
    height: 50px;
    background: var(--color-blue-sm);
    border-radius: 100%;
    box-shadow: 0 3px 8px #00000059;
    border: none;
    display: block;
    margin-bottom:5px;
    &:hover,&:focus{
        outline: none;
    }
    i{
        display: flex;
        align-self: center;
        justify-content: center;
        color: var(--color-bg-sm);
        line-height: 50px;
    }
}
.btn-orange{
    background-color: var(--color-orange);
    display:block;
    font-size: 12px;
    line-height: 16px;
    padding: 7px 7px;
    border-radius: 20px;
}
.btn-newposts{
    font-size: 13px;
    color: var(--color-bdark);
    padding:8px 14px;
    border-radius: 17px;
    box-shadow: 0 0 8px var(--color-shadow1);    
    position: fixed;
    z-index: 9;
    left: 50%;
    transform: translate(-30%, 0%);
    transition: all 0.5s;
    z-index: 8;
    top: -100px
}
.btn-newposts.active{
    top: 90px;
}
.theme-dark .btn-newposts{
    background-color: var(--color-bg-sm);
}

/**************/
/**** INDEX ****/
/**************/
.page-widget{
    /*height:100vh;
    position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .cnt-end{
       /* position: fixed;
        bottom:0;
        width:100%;*/
        margin-top: 80px;
        h5{
            color: var(--color-blue-sm);
            font-weight: 300;
            span{
                font-weight: 500; 
            }
        }
        h3{
            font-weight: 400;
            color: var(--color-ldark);
        }
    }
}
.widget-center{
    /*position: absolute;
    top:50%;
    transform: translate(0,-50%);
    width:100%;
    @media(max-height:450px){
        top:40%;
    }*/
    .widget-round{
        width: 140px;
        height: 140px;
        background-color: var(--color-blue-sm);
        border-radius: 100%;
        margin:0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-height:450px){
            width: 100px;
            height: 100px;
        }
        &:before, &:after{
            content:"";
            border-radius: 100%;
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);            
        }
        &:before{
            width: 192px;
            height: 192px;
            background-color: var(--color-blue1);
            @media(max-height:450px){
                width: 142px;
                height: 142px;
            }
        }
        &:after{    
            width: 238px;
            height: 238px;
            background-color: var(--color-blue2);
            @media(max-height:450px){
                width: 178px;
                height: 178px;
            }
        }
        i{
            color:#fff;
            font-size: 42px;
            @media(max-height:450px){
                font-size: 32px;
            }
        }
    }
}

/**************/
/**** ONBOARDINGS ****/
/**************/
.onboardings{    
    .onboardings-img{
        height: 306px;
        vertical-align: middle;
        display: table-cell;
        float:none;
        @media(max-height:595px){
            height: 206px;
        }

    }
    img{
        max-height: 306px;
        margin:0 auto;
        overflow: hidden;
        @media(max-height:595px){
            max-height: 206px;
        }
    }
    h4{
        font-size: 25px;
    }
    p{
        color: var(--color-ldark)
    }
    .page-controls{
        position: absolute;
        bottom:0;
        width:100%;
        left:0;
        @media(max-height:495px){
            position: static;
        }
        ul{
            li{
                display:inline-block;
                span{
                    width:11px;
                    height:11px;
                    border-radius: 100%;
                    background-color: var(--color-lblue);
                    margin-right:5px;
                    border: none;
                    padding: 0;
                    display: block;
                    &:hover,&:focus{
                        outline: none;
                    }
                }
            }
            li.active{
                span{
                    background-color: var(--color-blue-sm);
                }
                
            }
        }
    }
    
}


/**************/
/**** LOGIN ****/
/**************/
.widget-login{
    .form-group{
        label{
            font-size: 12px;
            color: var(--color-ldark);
        }
        .form-control{
            height:35px;
            border-radius: 20px;
            height:35px;
            border:1px solid var(--color-form);
            width:100%;
            padding:2px 10px;
            box-shadow: 0px 6px 10px #0000001A;
            margin-bottom: 45px;
            position: relative;
            background: transparent;
            &:hover, &:focus{
                border: 1px solid var(--color-blue-sm);
                outline: none;
            }
        }
    }
    .form-listchk-box{
        max-width: 100%;
        overflow-y: scroll;
        ul{
            padding:0;
            margin:0;
            display: flex;
            margin: 0 -3px;
            justify-content: space-between;
            li{
                flex:0 0 30px;
                margin:0 3px;
                span{
                    input{
                        width:30px;
                        height: 30px;
                        &:before {
                            font-family: "icomoon";
                            content: "\e939";
                            font-size: 15px;
                            color: transparent !important;
                            background: #8176E9;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 30px;
                            height: 30px;
                            margin-right: 7px;
                        }
                        &:checked:before {
                            color:#fff !important;
                        }
                    }
                }
                span.spancol1{
                    input{
                        &:before {
                            background: #E97676;
                        }
                    }
                }
                span.spancol2{
                    input{
                        &:before {
                            background: #339B60;
                        }
                    }
                }
                span.spancol3{
                    input{
                        &:before {
                            background: #E9C776;
                        }
                    }
                }
            }
        }
    }
    .form-group-icon{
        position: relative;
        .form-control{
            padding-left: 47px;
        }
        label{
            position: absolute;
            left: 30px;
            top: 9px;
        }
        i{
            position: absolute;
            left:16px;
            bottom:54px;
            font-size: 16px;
            color: var(--color-form-icon);
            padding-right:10px;
            font-style: normal;
            &:after{
                content:"";
                position: absolute;
                top: 50%;
                right: 0;
                width: 1px;
                height: 15px;
                background-color: var(--color-ldark);
                transform: translate(0,-50%);
            }
        }
        .clear-dataicon{
            i{
                left: auto;
                right: 0;
                font-size: 10px;
                opacity: 0;
                color: var(--color-form-icon);
                padding-right: 5px;
            }
        }
        .tag-btn{
            position: absolute;
            right: 10px;
            bottom: 52px;
            font-size: 12px;            
            a{
                color: var(--color-form-icon);
            }
            span{
                color: var(--color-dark);
                opacity: 0.5;
            }
        }
    }
    .form-focused{
        label{
            top: -22px;
            left: 0;
        }
        .clear-dataicon{
            i{
                opacity: 1;
            }
        }
    }
}

.position-relative{
    position: relative;
}


.submit-section{
    li{
        display: inline-block;
        
        span{
            font-size: 16px;
            color: var(--color-blue)
        }
    }
}
.widget-login {
@media (max-height: 450px){
    
        top: 20px;
        transform: none;
    }
}
/**/
.widget-addpost{
    .form-group{
        .form-control{
            border: none;
            border-bottom: 1px solid var(--color-form);
            box-shadow: none;
            border-radius: 0;
            padding-left: 32px;
            &:hover,&:focus{
                border:none;
                border-bottom: 1px solid var(--color-orange);
            }
        }
        i{
            left:0;
            color: var(--color-orange);
            &:after{
                display: none;
            }
        }
    }
    .form-group-icon{
        label{
            left: 15px;
            color: var(--color-dark);
            font-size: 14px;
        }
    }
    .form-focused{
        label{
            left:0;
            margin-left: 0;
        }
    }
    
}


/**************/
/**** TRENDING ****/
/**************/
.widget-card{
   p{
       line-height: 16px;
   }
   .owl-dots{
       text-align: center;
       line-height: 13px;
       padding-top: 3px;
       .owl-dot{
           width:8px;
           height:8px;
           border-radius: 100%;
           background-color: var(--bg-grey);
           margin: 0 1px;
       }
       .owl-dot.active{
           background-color: var(--color-dark);
       }
   }
   .link-txt{
        font-size: 11px;
        display:block;
        text-align: right;
    }
}
.theme-dark{
    .owl-dot{
        opacity: 0.3;
    }
    .owl-dot.active{
        opacity: 1;
    }
    .post-author-detail{
        textarea{
            color:#fff;
        }
        textarea::-webkit-input-placeholder {
            color:#fff;
        }
        textarea:-moz-placeholder {
            color:#fff; 
        }
        textarea::-moz-placeholder {
            color:#fff;
        }
        textarea:-ms-input-placeholder {
            color:#fff; 
        }
        textarea::placeholder {
            color:#fff;  
        }
    }
}
.text-date{
    font-size: 12px!important;
    color: var(--color-ldark)!important;
}
.row-5{
    margin:0 -5px;
    >div{
        padding:0 5px;
    }
}
.webkit-center{
    text-align: -webkit-center;
}
.d-flex{
    display: flex;
}
hr{
    border-top: 1px solid var(--color-border);
}
.m-0{
    margin: 0!important;
}
.d-block{
    display: block!important;
}

/**************/
/**** POSTS ****/
/**************/
.icon-chkbox{
    input{
        opacity: 0;
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
    }
    i{
        &:before {
            font-family: "icomoon";
            content: "\e939";
            font-size: 8px;
            color: transparent !important;
            border: 1px solid var(--color-blue);
            width: 16px;
            height: 16px;
            border-radius: 100%;
            display: inline-block;
            padding-left: 2px;
            line-height: 16px;
        }
        
    }
    input:checked~ i:before {
        color: #fff !important;
        background: var(--color-blue);
    }
}
.icon-chkbox-sm{
    i{
        &:before {
            border-color: var(--color-light-grey);
            width:14px ;
            height:14px;
            padding-left: 1px;
            line-height: 13px;
        }
    }
    input:checked~ i:before {
        color: #fff !important;
        background: var(--color-light-grey);
    }
}
.theme-dark{
    .icon-chkbox-sm{
        i{
            &:before {
                border-color: #fff;
            }
        }
    }
}
.widget-posts{
    
    .view-reply{
        padding-left: 53px;
        .post-head, .post-reply{
        .post-user{
        .post-author-img, .post-commentform-img{
            flex: 0 0 30px;
            height: 30px;
                }
            }
            
        }
        .post-topic{
            .sticker-img{
                display: inline-block;
                margin-top: -2px;
                vertical-align: middle;
            }
        }
    }
    .view-reply-padding{
        padding-left: 0;
    }
    .post-head{       
        .post-user{
            align-items: center;
            .post-author-img{
                flex: 0 0 40px;
                max-width: 40px;
                background: #4CB5AB;
                height: 40px;
                border-radius: 100%;
                i{
                    color:#fff;
                    vertical-align: -webkit-baseline-middle;
                    line-height: 41px;
                    font-size: 20px;
                }
                img{
                    
                }
            }
            .post-author-detail{                
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                h3{
                    line-height: 19px;
                }
                
                p{
                    a{
                        font-size: 12px;
                        line-height: 15px;
                        line-height: 8px;
                        display: block;
                    }
                    font-size: 12px;
                    /*line-height: 15px;
                    color: var(--color-grey-ligt);*/
                    span{
                        font-size: 12px;
                        display: block;
                        line-height: 13px;
                    }
                }
                
            }
            
        }
    }
    
    .post-topic{
        h2{
            line-height: 21px;
        }
        p{
            line-height: 16px;
        }
    }
    .post-reactions{
        ul{
            justify-content: flex-end;
            align-items: center;
            li{
                margin-left: 11px;
                a{
                    display:flex;
                    i{
                        font-size: 18px;
                        padding-right: 2px;
                    }
                    span{
                        font-size: 12px;
                        color: var(--color-grey-ligt);
                        align-self: center;
                        line-height: 15px;
                    }
                }
            }
        }
    }
    .post-likes{
        align-items: center;
        .likedby-img{
            li{
                display: inline-block;
                border:1px solid #fff;
                border-radius: 100%;
                &:first-child{
                    z-index: 2;
                    position: relative;
                }
                &:nth-child(2){
                    z-index: 1;
                    position: relative;
                }
                img{
                    height:20px;
                    border-radius: 100%;
                }
            }
            li+li{
                margin-left: -13px;
            }
        }
        .likedby-name{
            li{
                font-size: 12px;
                font-weight: 400;
                color: var(--color-grey-dark)!important;
                span{
                    color: var(--color-dark);
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 500;
                }
            }
            
        }
    }
    .post-comments{
        border: 1px solid var(--color-border);
        border-radius: 30px;
        height: 45px;
        display: inline-block;
        width: 100%;
        padding: 2px 3px !important;
        a{display: block;}
        h3{
            line-height: 19px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        p{
            line-height: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            margin-top: 2px;
            color: var(--color-grey-dark) !important;
        }
        
    }
    .post-comment-img{
        img{
            width:30px;
            
        }
    }   
    .post-author-img, .post-comment-img{
        flex: 0 0 30px;
        
    }
    .post-mimg{
        img{
            width: 100%;
            display: block;
        }
    }
    .post-author-detail{
        position: relative;
        width: 100%;
        textarea{
            width: 100%;
            border: none;
            font-size: 12px;
            height: 20px;
            font-weight: 300;
            background-color: transparent;
            &:hover, &:focus{
                outline: none;
            }
        }
        .btn-post{
            position: absolute;
            top: 3px;
            right: 0;
            border: none;
            padding: 0;
            background-color: transparent;
            font-size: 12px;
        }
    }
}


/**************/
/**** SUGGESSIONS ****/
/**************/
.widget-suggessions{
    .suggession-title{
        h3{
            flex-grow: 1;
            line-height: 21px;
        }
        a{
            font-size: 11px;
            font-weight: 500;
        }
    }
    .widget-sm{
        /*box-shadow: 0 0 6px var(--color-shadow);
        border: 1px solid var(--color-grey-ligt);*/
        border: 1px solid var(--color-border);
        border-radius: 7px;
        position: relative;
        h3{
            line-height: 15px;
        }
        h6{
            font-size: 11px;
            font-weight: 500;
            line-height: 15px;
            color: var(--color-dark);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            line-height: 15px;
        }
        .close{
            position: absolute;
            top: 12px;
            right: 12px;
            color: var(--color-form-icon);
            font-size: 12px;
        }
        img.suggested{
            width:60px;
            margin: 0 auto;
        }
    }
}
.theme-dark {
    .widget-sm{
        background-color: #5b5a5a;
        border-color: #5b5a5a;
       }.bg-white-box{
           background-color: #fff;
           h3{
               color:#000;
           }
           h6{
               color: #9a9a9a;
           }
       }
}
.owl-suggested{
    .owl-stage{
        left:-40px;
    }
    .min-height{
        min-height: 39px;
    }
    
}

.events-block{
    p{
        line-height: 16px;
    }
    h2{
        line-height: 21px;
    }
    h6{
        font-size: 11px;
        line-height: 15px;
        font-weight: 500;
    }
}
.comments-section{
    p{
        &:last-child{
            margin: 0;
        }
    }
}
.post-author-form{
    position: relative;
    textarea{
        height: 110px;
        width: 100%;
        background-color: var(--color-textarea);
        border: none;
        padding: 8px 9px;
        font-size: 12px;
        color: var(--color-formtext);
        text-indent: 29px;
        &:hover,&:focus{
            outline: none;
        }
    }
    .smile-form{
        position: absolute;
        top: 5px;
        left: 9px;
    }
    .btn-post-square{
        font-size: 12px;
        background-color: var(--color-blue);
        border:none;
        border-radius: 15px;
        padding: 6px 18px;
    }
}
.post-reply{
    
    a{
        color: var(--color-ldark);
        font-size: 11px;
        line-height: 15px;
        font-weight: 400;
        background-color: var(--color-light);
    }
    .accord-img{
        i{
            position: absolute;
            top: 8px;
            font-size: 10px;
            transform: rotate(0deg);
            background-color: var(--color-light);
        }
    }
    .collapsed{
        position: relative;
        span{
            
            i{
                top: 1px;
                transform: rotate(180deg);
            }
        }
    }
}
.theme-dark{
    .post-reply{
        a{
            background-color: #303030;
        }
        .accord-img{
            i{
                background-color: #303030;
            }
        }
    }
    .bg-grey {
        background-color: #000;
    }
}
.post-reply-line{
    position: relative;
    &:before{
        position: absolute;
        width:100%;
        height:1px;
        background-color: var(--color-border);
        content: "";
        top:60%;
        transform: translate(0,-50%);
    }

}

/**************/
/**** LIKES ****/
/**************/
.follow-btn{
    font-size: 11px;
    padding: 3px 5px;
    padding-top: 4px;
    min-width: 60px;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    line-height: 11px;
    border:1px solid 
}
.btn-follow ,.btn-follow:hover, .btn-follow:focus{    
    background-color: var(--color-orange);
    color: var(--color-bg);
    padding: 3px 13px;
    padding-top:4px;
}
.theme-dark{
    .btn-follow,.btn-follow:hover, .btn-follow:focus{ 
        color: var(--color-bg-sm);
        border-color: var(--color-orange);
    }
}
.btn-following{
    color: var( --color-ldark);
}
.ico-w{
    min-width: 90px;
}
.owl-toptrends{
    .owl-stage{
        left: -17px;
    }
    p{
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        margin:0;
        padding-top: 2px;
        margin-top: 6px;
        font-weight: 500;
    }
}
.modal-sm{
    width:117px;
    margin: 0 auto!important;
    .modal-content{
        border-radius: 0;
        .modal-body{
            padding:16px;
        }        
    }
}
.list-links{    
    li{
        font-size: 17px;
        line-height: 23px;
        margin-bottom:12px;
        &:last-child{
            margin:0;
        }
        a{
            color: var(--color-bdark);
        }
    }
}
.theme-dark{
    .list-links{
        li{
            a{
                color: var(--color-bg-sm);
            }
        }
    }
    
}