.theme-light {
  --color-bg: #ffffff;
  --color-bg-sm: #ffffff;
  --color-dark: #000000;
  --color-bdark: #4B4B4B;
  --color-light: #ffffff;
  --color-dark2: #030303;
  --color-light-grey: #737373;
  --color-blue: #1492e6;
  --color-blue-sm: #1492e6;
  --color-blue1: #1492e64a;
  --color-blue2: #1492e624;
  --color-lblue: #A1D4F6;
  --color-ldark: #9A9A9A;
  --color-orange: #FF8A00;
  --color-ripple: #dedede;
  --color-form: #B8B6B6;
  --color-formtext: #8F8F8F;
  --color-form-icon: #C3C3C3;
  --color-shadow: #0000001A;
  --color-shadow1: #0000004D;
  --color-textarea: #E8E8E8;
}

.bg-grey {
  background-color: var(--bg-grey);
}

.bg-white {
  background-color: var(--color-light);
}

.bg-white-sm {
  background-color: var(--color-bg-sm);
}

.theme-dark .bg-white {
  background-color: #303030;
}

.pb-50 {
  padding-bottom: 50px;
}

@media (max-height: 450px) {
  .pb-50 {
    padding-bottom: 15px;
  }
}

.text-logo {
  color: var(--color-blue-sm);
  font-weight: 300;
}

.text-logo span {
  font-weight: 500;
}

.logo-icon {
  color: var(--color-blue-sm);
}

.logo-icon i {
  font-size: 23px;
}

.logo-icon div.icon-EP-Icons_Tik {
  font-size: 19px;
}

.btn-skip {
  color: var(--color-lblue);
  font-size: 14px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.overflow-wrp {
  overflow: visible !important;
}

.btn-round {
  width: 50px;
  height: 50px;
  background: var(--color-blue-sm);
  border-radius: 100%;
  -webkit-box-shadow: 0 3px 8px #00000059;
          box-shadow: 0 3px 8px #00000059;
  border: none;
  display: block;
  margin-bottom: 5px;
}

.btn-round:hover, .btn-round:focus {
  outline: none;
}

.btn-round i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-bg-sm);
  line-height: 50px;
}

.btn-orange {
  background-color: var(--color-orange);
  display: block;
  font-size: 12px;
  line-height: 16px;
  padding: 7px 7px;
  border-radius: 20px;
}

.btn-newposts {
  font-size: 13px;
  color: var(--color-bdark);
  padding: 8px 14px;
  border-radius: 17px;
  -webkit-box-shadow: 0 0 8px var(--color-shadow1);
          box-shadow: 0 0 8px var(--color-shadow1);
  position: fixed;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-30%, 0%);
          transform: translate(-30%, 0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 8;
  top: -100px;
}

.btn-newposts.active {
  top: 90px;
}

.theme-dark .btn-newposts {
  background-color: var(--color-bg-sm);
}

/**************/
/**** INDEX ****/
/**************/
.page-widget {
  /*height:100vh;
    position: relative;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.page-widget .cnt-end {
  /* position: fixed;
        bottom:0;
        width:100%;*/
  margin-top: 80px;
}

.page-widget .cnt-end h5 {
  color: var(--color-blue-sm);
  font-weight: 300;
}

.page-widget .cnt-end h5 span {
  font-weight: 500;
}

.page-widget .cnt-end h3 {
  font-weight: 400;
  color: var(--color-ldark);
}

.widget-center {
  /*position: absolute;
    top:50%;
    transform: translate(0,-50%);
    width:100%;
    @media(max-height:450px){
        top:40%;
    }*/
}

.widget-center .widget-round {
  width: 140px;
  height: 140px;
  background-color: var(--color-blue-sm);
  border-radius: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-height: 450px) {
  .widget-center .widget-round {
    width: 100px;
    height: 100px;
  }
}

.widget-center .widget-round:before, .widget-center .widget-round:after {
  content: "";
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.widget-center .widget-round:before {
  width: 192px;
  height: 192px;
  background-color: var(--color-blue1);
}

@media (max-height: 450px) {
  .widget-center .widget-round:before {
    width: 142px;
    height: 142px;
  }
}

.widget-center .widget-round:after {
  width: 238px;
  height: 238px;
  background-color: var(--color-blue2);
}

@media (max-height: 450px) {
  .widget-center .widget-round:after {
    width: 178px;
    height: 178px;
  }
}

.widget-center .widget-round i {
  color: #fff;
  font-size: 42px;
}

@media (max-height: 450px) {
  .widget-center .widget-round i {
    font-size: 32px;
  }
}

/**************/
/**** ONBOARDINGS ****/
/**************/
.onboardings .onboardings-img {
  height: 306px;
  vertical-align: middle;
  display: table-cell;
  float: none;
}

@media (max-height: 595px) {
  .onboardings .onboardings-img {
    height: 206px;
  }
}

.onboardings img {
  max-height: 306px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-height: 595px) {
  .onboardings img {
    max-height: 206px;
  }
}

.onboardings h4 {
  font-size: 25px;
}

.onboardings p {
  color: var(--color-ldark);
}

.onboardings .page-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

@media (max-height: 495px) {
  .onboardings .page-controls {
    position: static;
  }
}

.onboardings .page-controls ul li {
  display: inline-block;
}

.onboardings .page-controls ul li span {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: var(--color-lblue);
  margin-right: 5px;
  border: none;
  padding: 0;
  display: block;
}

.onboardings .page-controls ul li span:hover, .onboardings .page-controls ul li span:focus {
  outline: none;
}

.onboardings .page-controls ul li.active span {
  background-color: var(--color-blue-sm);
}

/**************/
/**** LOGIN ****/
/**************/
.widget-login .form-group label {
  font-size: 12px;
  color: var(--color-ldark);
}

.widget-login .form-group .form-control {
  height: 35px;
  border-radius: 20px;
  height: 35px;
  border: 1px solid var(--color-form);
  width: 100%;
  padding: 2px 10px;
  -webkit-box-shadow: 0px 6px 10px #0000001A;
          box-shadow: 0px 6px 10px #0000001A;
  margin-bottom: 45px;
  position: relative;
  background: transparent;
}

.widget-login .form-group .form-control:hover, .widget-login .form-group .form-control:focus {
  border: 1px solid var(--color-blue-sm);
  outline: none;
}

.widget-login .form-listchk-box {
  max-width: 100%;
  overflow-y: scroll;
}

.widget-login .form-listchk-box ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -3px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.widget-login .form-listchk-box ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  margin: 0 3px;
}

.widget-login .form-listchk-box ul li span input {
  width: 30px;
  height: 30px;
}

.widget-login .form-listchk-box ul li span input:before {
  font-family: "icomoon";
  content: "\e939";
  font-size: 15px;
  color: transparent !important;
  background: #8176E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.widget-login .form-listchk-box ul li span input:checked:before {
  color: #fff !important;
}

.widget-login .form-listchk-box ul li span.spancol1 input:before {
  background: #E97676;
}

.widget-login .form-listchk-box ul li span.spancol2 input:before {
  background: #339B60;
}

.widget-login .form-listchk-box ul li span.spancol3 input:before {
  background: #E9C776;
}

.widget-login .form-group-icon {
  position: relative;
}

.widget-login .form-group-icon .form-control {
  padding-left: 47px;
}

.widget-login .form-group-icon label {
  position: absolute;
  left: 30px;
  top: 9px;
}

.widget-login .form-group-icon i {
  position: absolute;
  left: 16px;
  bottom: 54px;
  font-size: 16px;
  color: var(--color-form-icon);
  padding-right: 10px;
  font-style: normal;
}

.widget-login .form-group-icon i:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 15px;
  background-color: var(--color-ldark);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.widget-login .form-group-icon .clear-dataicon i {
  left: auto;
  right: 0;
  font-size: 10px;
  opacity: 0;
  color: var(--color-form-icon);
  padding-right: 5px;
}

.widget-login .form-group-icon .tag-btn {
  position: absolute;
  right: 10px;
  bottom: 52px;
  font-size: 12px;
}

.widget-login .form-group-icon .tag-btn a {
  color: var(--color-form-icon);
}

.widget-login .form-group-icon .tag-btn span {
  color: var(--color-dark);
  opacity: 0.5;
}

.widget-login .form-focused label {
  top: -22px;
  left: 0;
}

.widget-login .form-focused .clear-dataicon i {
  opacity: 1;
}

.position-relative {
  position: relative;
}

.submit-section li {
  display: inline-block;
}

.submit-section li span {
  font-size: 16px;
  color: var(--color-blue);
}

@media (max-height: 450px) {
  .widget-login {
    top: 20px;
    -webkit-transform: none;
            transform: none;
  }
}

/**/
.widget-addpost .form-group .form-control {
  border: none;
  border-bottom: 1px solid var(--color-form);
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding-left: 32px;
}

.widget-addpost .form-group .form-control:hover, .widget-addpost .form-group .form-control:focus {
  border: none;
  border-bottom: 1px solid var(--color-orange);
}

.widget-addpost .form-group i {
  left: 0;
  color: var(--color-orange);
}

.widget-addpost .form-group i:after {
  display: none;
}

.widget-addpost .form-group-icon label {
  left: 15px;
  color: var(--color-dark);
  font-size: 14px;
}

.widget-addpost .form-focused label {
  left: 0;
  margin-left: 0;
}

/**************/
/**** TRENDING ****/
/**************/
.widget-card p {
  line-height: 16px;
}

.widget-card .owl-dots {
  text-align: center;
  line-height: 13px;
  padding-top: 3px;
}

.widget-card .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--bg-grey);
  margin: 0 1px;
}

.widget-card .owl-dots .owl-dot.active {
  background-color: var(--color-dark);
}

.widget-card .link-txt {
  font-size: 11px;
  display: block;
  text-align: right;
}

.theme-dark .owl-dot {
  opacity: 0.3;
}

.theme-dark .owl-dot.active {
  opacity: 1;
}

.theme-dark .post-author-detail textarea {
  color: #fff;
}

.theme-dark .post-author-detail textarea::-webkit-input-placeholder {
  color: #fff;
}

.theme-dark .post-author-detail textarea:-ms-input-placeholder {
  color: #fff;
}

.theme-dark .post-author-detail textarea::-ms-input-placeholder {
  color: #fff;
}

.theme-dark .post-author-detail textarea::placeholder {
  color: #fff;
}

.text-date {
  font-size: 12px !important;
  color: var(--color-ldark) !important;
}

.row-5 {
  margin: 0 -5px;
}

.row-5 > div {
  padding: 0 5px;
}

.webkit-center {
  text-align: -webkit-center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

hr {
  border-top: 1px solid var(--color-border);
}

.m-0 {
  margin: 0 !important;
}

.d-block {
  display: block !important;
}

/**************/
/**** POSTS ****/
/**************/
.icon-chkbox input {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
}

.icon-chkbox i:before {
  font-family: "icomoon";
  content: "\e939";
  font-size: 8px;
  color: transparent !important;
  border: 1px solid var(--color-blue);
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: inline-block;
  padding-left: 2px;
  line-height: 16px;
}

.icon-chkbox input:checked ~ i:before {
  color: #fff !important;
  background: var(--color-blue);
}

.icon-chkbox-sm i:before {
  border-color: var(--color-light-grey);
  width: 14px;
  height: 14px;
  padding-left: 1px;
  line-height: 13px;
}

.icon-chkbox-sm input:checked ~ i:before {
  color: #fff !important;
  background: var(--color-light-grey);
}

.theme-dark .icon-chkbox-sm i:before {
  border-color: #fff;
}

.widget-posts .view-reply {
  padding-left: 53px;
}

.widget-posts .view-reply .post-head .post-user .post-author-img, .widget-posts .view-reply .post-head .post-user .post-commentform-img, .widget-posts .view-reply .post-reply .post-user .post-author-img, .widget-posts .view-reply .post-reply .post-user .post-commentform-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 30px;
}

.widget-posts .view-reply .post-topic .sticker-img {
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
}

.widget-posts .view-reply-padding {
  padding-left: 0;
}

.widget-posts .post-head .post-user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-posts .post-head .post-user .post-author-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  max-width: 40px;
  background: #4CB5AB;
  height: 40px;
  border-radius: 100%;
}

.widget-posts .post-head .post-user .post-author-img i {
  color: #fff;
  vertical-align: -webkit-baseline-middle;
  line-height: 41px;
  font-size: 20px;
}

.widget-posts .post-head .post-user .post-author-detail {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.widget-posts .post-head .post-user .post-author-detail h3 {
  line-height: 19px;
}

.widget-posts .post-head .post-user .post-author-detail p {
  font-size: 12px;
  /*line-height: 15px;
                    color: var(--color-grey-ligt);*/
}

.widget-posts .post-head .post-user .post-author-detail p a {
  font-size: 12px;
  line-height: 15px;
  line-height: 8px;
  display: block;
}

.widget-posts .post-head .post-user .post-author-detail p span {
  font-size: 12px;
  display: block;
  line-height: 13px;
}

.widget-posts .post-topic h2 {
  line-height: 21px;
}

.widget-posts .post-topic p {
  line-height: 16px;
}

.widget-posts .post-reactions ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-posts .post-reactions ul li {
  margin-left: 11px;
}

.widget-posts .post-reactions ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.widget-posts .post-reactions ul li a i {
  font-size: 18px;
  padding-right: 2px;
}

.widget-posts .post-reactions ul li a span {
  font-size: 12px;
  color: var(--color-grey-ligt);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 15px;
}

.widget-posts .post-likes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-posts .post-likes .likedby-img li {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 100%;
}

.widget-posts .post-likes .likedby-img li:first-child {
  z-index: 2;
  position: relative;
}

.widget-posts .post-likes .likedby-img li:nth-child(2) {
  z-index: 1;
  position: relative;
}

.widget-posts .post-likes .likedby-img li img {
  height: 20px;
  border-radius: 100%;
}

.widget-posts .post-likes .likedby-img li + li {
  margin-left: -13px;
}

.widget-posts .post-likes .likedby-name li {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-grey-dark) !important;
}

.widget-posts .post-likes .likedby-name li span {
  color: var(--color-dark);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.widget-posts .post-comments {
  border: 1px solid var(--color-border);
  border-radius: 30px;
  height: 45px;
  display: inline-block;
  width: 100%;
  padding: 2px 3px !important;
}

.widget-posts .post-comments a {
  display: block;
}

.widget-posts .post-comments h3 {
  line-height: 19px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.widget-posts .post-comments p {
  line-height: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-top: 2px;
  color: var(--color-grey-dark) !important;
}

.widget-posts .post-comment-img img {
  width: 30px;
}

.widget-posts .post-author-img, .widget-posts .post-comment-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

.widget-posts .post-mimg img {
  width: 100%;
  display: block;
}

.widget-posts .post-author-detail {
  position: relative;
  width: 100%;
}

.widget-posts .post-author-detail textarea {
  width: 100%;
  border: none;
  font-size: 12px;
  height: 20px;
  font-weight: 300;
  background-color: transparent;
}

.widget-posts .post-author-detail textarea:hover, .widget-posts .post-author-detail textarea:focus {
  outline: none;
}

.widget-posts .post-author-detail .btn-post {
  position: absolute;
  top: 3px;
  right: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 12px;
}

/**************/
/**** SUGGESSIONS ****/
/**************/
.widget-suggessions .suggession-title h3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 21px;
}

.widget-suggessions .suggession-title a {
  font-size: 11px;
  font-weight: 500;
}

.widget-suggessions .widget-sm {
  /*box-shadow: 0 0 6px var(--color-shadow);
        border: 1px solid var(--color-grey-ligt);*/
  border: 1px solid var(--color-border);
  border-radius: 7px;
  position: relative;
}

.widget-suggessions .widget-sm h3 {
  line-height: 15px;
}

.widget-suggessions .widget-sm h6 {
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  color: var(--color-dark);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.widget-suggessions .widget-sm p {
  line-height: 15px;
}

.widget-suggessions .widget-sm .close {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--color-form-icon);
  font-size: 12px;
}

.widget-suggessions .widget-sm img.suggested {
  width: 60px;
  margin: 0 auto;
}

.theme-dark .widget-sm {
  background-color: #5b5a5a;
  border-color: #5b5a5a;
}

.theme-dark .bg-white-box {
  background-color: #fff;
}

.theme-dark .bg-white-box h3 {
  color: #000;
}

.theme-dark .bg-white-box h6 {
  color: #9a9a9a;
}

.owl-suggested .owl-stage {
  left: -40px;
}

.owl-suggested .min-height {
  min-height: 39px;
}

.events-block p {
  line-height: 16px;
}

.events-block h2 {
  line-height: 21px;
}

.events-block h6 {
  font-size: 11px;
  line-height: 15px;
  font-weight: 500;
}

.comments-section p:last-child {
  margin: 0;
}

.post-author-form {
  position: relative;
}

.post-author-form textarea {
  height: 110px;
  width: 100%;
  background-color: var(--color-textarea);
  border: none;
  padding: 8px 9px;
  font-size: 12px;
  color: var(--color-formtext);
  text-indent: 29px;
}

.post-author-form textarea:hover, .post-author-form textarea:focus {
  outline: none;
}

.post-author-form .smile-form {
  position: absolute;
  top: 5px;
  left: 9px;
}

.post-author-form .btn-post-square {
  font-size: 12px;
  background-color: var(--color-blue);
  border: none;
  border-radius: 15px;
  padding: 6px 18px;
}

.post-reply a {
  color: var(--color-ldark);
  font-size: 11px;
  line-height: 15px;
  font-weight: 400;
  background-color: var(--color-light);
}

.post-reply .accord-img i {
  position: absolute;
  top: 8px;
  font-size: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background-color: var(--color-light);
}

.post-reply .collapsed {
  position: relative;
}

.post-reply .collapsed span i {
  top: 1px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.theme-dark .post-reply a {
  background-color: #303030;
}

.theme-dark .post-reply .accord-img i {
  background-color: #303030;
}

.theme-dark .bg-grey {
  background-color: #000;
}

.post-reply-line {
  position: relative;
}

.post-reply-line:before {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  content: "";
  top: 60%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

/**************/
/**** LIKES ****/
/**************/
.follow-btn {
  font-size: 11px;
  padding: 3px 5px;
  padding-top: 4px;
  min-width: 60px;
  text-align: center;
  border-radius: 30px;
  display: inline-block;
  line-height: 11px;
  border: 1px solid;
}

.btn-follow, .btn-follow:hover, .btn-follow:focus {
  background-color: var(--color-orange);
  color: var(--color-bg);
  padding: 3px 13px;
  padding-top: 4px;
}

.theme-dark .btn-follow, .theme-dark .btn-follow:hover, .theme-dark .btn-follow:focus {
  color: var(--color-bg-sm);
  border-color: var(--color-orange);
}

.btn-following {
  color: var(--color-ldark);
}

.ico-w {
  min-width: 90px;
}

.owl-toptrends .owl-stage {
  left: -17px;
}

.owl-toptrends p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  margin: 0;
  padding-top: 2px;
  margin-top: 6px;
  font-weight: 500;
}

.modal-sm {
  width: 117px;
  margin: 0 auto !important;
}

.modal-sm .modal-content {
  border-radius: 0;
}

.modal-sm .modal-content .modal-body {
  padding: 16px;
}

.list-links li {
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 12px;
}

.list-links li:last-child {
  margin: 0;
}

.list-links li a {
  color: var(--color-bdark);
}

.theme-dark .list-links li a {
  color: var(--color-bg-sm);
}
/*# sourceMappingURL=style4.css.map */