@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?t5cnwc');
  src:  url('icomoon.eot?t5cnwc#iefix') format('embedded-opentype'),
    url('icomoon.ttf?t5cnwc') format('truetype'),
    url('icomoon.woff?t5cnwc') format('woff'),
    url('icomoon.svg?t5cnwc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-EP_Icons_Star_Filled:before {
  content: "\e93f";
}
.icon-EP_Icons_Star_Half_Filled:before {
  content: "\e940";
}
.icon-EP_Icons_Star_Unfillled:before {
  content: "\e941";
}
.icon-EP-Icons_at:before {
  content: "\e900";
}
.icon-EP-Icons_Accounts:before {
  content: "\e901";
}
.icon-EP-Icons_Add:before {
  content: "\e902";
}
.icon-EP-Icons_Admin:before {
  content: "\e903";
}
.icon-EP-Icons_Attach:before {
  content: "\e904";
}
.icon-EP-Icons_Back:before {
  content: "\e905";
}
.icon-EP-Icons_Birthday-Wishes:before {
  content: "\e906";
}
.icon-EP-Icons_Call:before {
  content: "\e907";
}
.icon-EP-Icons_Camera:before {
  content: "\e908";
}
.icon-EP-Icons_Car:before {
  content: "\e909";
}
.icon-EP-Icons_Chat:before {
  content: "\e90a";
}
.icon-EP-Icons_Check-Box:before {
  content: "\e90b";
}
.icon-EP-Icons_Close-1:before {
  content: "\e90c";
}
.icon-EP-Icons_Close:before {
  content: "\e90d";
}
.icon-EP-Icons_Comments:before {
  content: "\e90e";
}
.icon-EP-Icons_Cup:before {
  content: "\e90f";
}
.icon-EP-Icons_Delete:before {
  content: "\e910";
}
.icon-EP-Icons_Down:before {
  content: "\e911";
}
.icon-EP-Icons_Download:before {
  content: "\e912";
}
.icon-EP-Icons_Edit:before {
  content: "\e913";
}
.icon-EP-Icons_Email:before {
  content: "\e914";
}
.icon-EP-Icons_Experience:before {
  content: "\e915";
}
.icon-EP-Icons_Explore-Filled:before {
  content: "\e916";
}
.icon-EP-Icons_Explore-Outline:before {
  content: "\e917";
}
.icon-EP-Icons_Eye:before {
  content: "\e918";
}
.icon-EP-Icons_Favourite-Filled:before {
  content: "\e919";
}
.icon-EP-Icons_Favourite-Outline:before {
  content: "\e91a";
}
.icon-EP-Icons_Filter:before {
  content: "\e91b";
}
.icon-EP-Icons_Fun-Filled:before {
  content: "\e91c";
}
.icon-EP-Icons_Fun-Outline:before {
  content: "\e91d";
}
.icon-EP-Icons_Hamberger:before {
  content: "\e91e";
}
.icon-EP-Icons_Home-Filled:before {
  content: "\e91f";
}
.icon-EP-Icons_Home-Outline:before {
  content: "\e920";
}
.icon-EP-Icons_Horizontal-Three-Dots:before {
  content: "\e921";
}
.icon-EP-Icons_House-Keeping:before {
  content: "\e922";
}
.icon-EP-Icons_HR:before {
  content: "\e923";
}
.icon-EP-Icons_Insight-Filled:before {
  content: "\e924";
}
.icon-EP-Icons_Insight-Outline:before {
  content: "\e925";
}
.icon-EP-Icons_Like-Filled:before {
  content: "\e926";
}
.icon-EP-Icons_Like-Outline:before {
  content: "\e927";
}
.icon-EP-Icons_Location:before {
  content: "\e928";
}
.icon-EP-Icons_Login-Right:before {
  content: "\e929";
}
.icon-EP-Icons_Logo:before {
  content: "\e92a";
}
.icon-EP-Icons_Mobile:before {
  content: "\e92b";
}
.icon-EP-Icons_Password:before {
  content: "\e92c";
}
.icon-EP-Icons_Positions:before {
  content: "\e92d";
}
.icon-EP-Icons_Profile-copy:before {
  content: "\e92e";
}
.icon-EP-Icons_Profile:before {
  content: "\e92f";
}
.icon-EP-Icons_Real-Estate:before {
  content: "\e930";
}
.icon-EP-Icons_Right:before {
  content: "\e931";
}
.icon-EP-Icons_Save-Filled:before {
  content: "\e932";
}
.icon-EP-Icons_Save-Outline:before {
  content: "\e933";
}
.icon-EP-Icons_Search:before {
  content: "\e934";
}
.icon-EP-Icons_Send:before {
  content: "\e935";
}
.icon-EP-Icons_Share:before {
  content: "\e936";
}
.icon-EP-Icons_Sort-by:before {
  content: "\e937";
}
.icon-EP-Icons_Tag:before {
  content: "\e938";
}
.icon-EP-Icons_Tik:before {
  content: "\e939";
}
.icon-EP-Icons_Up:before {
  content: "\e93a";
}
.icon-EP-Icons_Upload:before {
  content: "\e93b";
}
.icon-EP-Icons_User-ID:before {
  content: "\e93c";
}
.icon-EP-Icons_vertical-Three-Dots:before {
  content: "\e93d";
}
.icon-EP-Icons_Voice-Search:before {
  content: "\e93e";
}