/*Roboto Thin 100*/
@font-face { 
    font-family: 'Roboto'; 
    font-style: normal;  
    font-weight: 100;
    src: url('Roboto-Thin.ttf') format('ttf'); 
}
/*Roboto Light 300*/
@font-face { 
    font-family: 'Roboto'; 
    font-style: normal;  
    font-weight: 300;
    src: url('Roboto-Light.ttf') format('ttf'); 
}
/*Roboto Regular 400*/
@font-face { 
    font-family: 'Roboto'; 
    font-style: normal;  
    font-weight: 400;
    src: url('Roboto-Regular.ttf') format('ttf'); 
}
/*Roboto Medium 500*/
@font-face { 
    font-family: 'Roboto'; 
    font-style: normal;  
    font-weight: 500;
    src: url('Roboto-Medium.ttf') format('ttf'); 
}
/*Roboto Bold 700*/
@font-face { 
    font-family: 'Roboto'; 
    font-style: normal;  
    font-weight: 700;
    src: url('Roboto-Bold.ttf') format('ttf'); 
}
/*Roboto Black 900*/
@font-face { 
    font-family: 'Roboto'; 
    font-style: normal;  
    font-weight: 900;
    src: url('Roboto-Black.ttf') format('ttf'); 
}